<div class="col-md-4 review-hover">
  <h3>David’s Review</h3>
  <p>"They gave us easy-to-follow instructions and we were able to accomplish all items necessary to establish our business credit with companies that report to Dun & Bradstreet, which is an important part of a successful business plan. We would recommend Prime Corporate Services to anyone who is interested in developing a respected business credit rating."</p>
</div>

<div class="col-md-4 review-hover">
  <h3>Natalie’s Review</h3>
  <p>"This program has helped me begin the process of getting a separate credit score from my personal credit score which I had no idea how to do. Thank you!"</p>
</div>

<div class="col-md-4 review-hover">
  <h3>JoAnn’s Review</h3>
  <p>"Signing up for the Prime Corporate Services Business Credit Program is one of the best and wisest choices I have made! This program has been a success as it has (1) started me on my way to increased benefits for my company, (2) provided savings on my business tax return, and (3) enabled me to establish credibility and independence for my company."</p>
</div>