<div class="col-md-3 tax-tips-text">
	<img src="https://s3-us-west-2.amazonaws.com/primecorpservices/taximg1.png" class="tax-tips-img-top">
  <h3>Uncommon Knowledge</h3>
  <p>You have to pay taxes. That's common knowledge you see at the store on your receipt. In many cases, you are double-taxed on the same assets. You don't have to be double-taxed on all your assets and that is uncommon knowledge. Here's a sample of the uncommon knowledge we have that will help you keep more of your money.</p>
</div>
<div class="col-md-3 tax-tips-text">
  <h3>Tax Tip #1</h3>
  <p>Do not keep property (other than a convenience bank account) in joint tenancy. Not with your spouse. Not with anyone else. (This is the most common tax-expensive error we see).</p>
  <img src="https://s3-us-west-2.amazonaws.com/primecorpservices/taximg2.png" class="tax-tips-img-bottom">
</div>
<div class="col-md-3 tax-tips-text">
	<img src="https://s3-us-west-2.amazonaws.com/primecorpservices/taximg3.png" class="tax-tips-img-top2">
  <h3>Tax Tip #2</h3>
  <p>Do not put money in a pension or profit-sharing plan — IRA or other qualified plan — if you are in the highest income tax brackets (about 40 percent for most states, 35 percent for Florida residents) and highest estate tax bracket (55 percent). Qualified plans are double taxed with the tax collector getting up to 73 percent of your plan funds. That’s $730,000 per $1 million.</p>
</div>
<div class="col-md-3 tax-tips-text">
  <h3>Tax Tip #3</h3>
  <p>Do not be fooled. A will is not an estate plan. A revocable trust is not an estate plan. They are death documents. Your wealth transfer plan (if you want to legally beat the estate tax) must start now, while you are alive. Simply put, you need a comprehensive lifetime tax plan as part of your overall estate plan.</p>
  <img src="https://s3-us-west-2.amazonaws.com/primecorpservices/taximg4.png" class="tax-tips-img-bottom">
</div>