<body class="aboutbody">
	<div class="container aboutpage-container">
		<div class="row inner-aboutpage-row">

			<h1>About Prime Corporate Services</h1>
			
			<h5>Prime Corporate Services was founded by brothers who saw entrepreneurs failing due to company debt in personal accounts, insufficient tax knowledge, and inadequate entity setup. We established the firm to meet those needs and provide clients with the expert advice and education needed to achieve success in their startups. With a staff of certified CPAs and other experienced professionals, Prime Corporate Services has assisted thousands of clients. Working for clients year round, the consultancy offers estate planning for individuals seeking to pass on assets with minimal inconvenience to themselves and their loves ones. The company also assists entrepreneurs in determining whether to establish a business as an LLC, S-corporation, C-corporation, or dual entity. Other services include corporate credit financing, which includes choosing the best source of credit and one-on-one coaching sessions for building credit. Another area of expertise includes working with clients involved in financial markets to help them reduce their tax burden from this type of income.</h5>
			<hr>

			<h5>Please take a moment to look over our website and learn what separates us from other companies. Learn how Prime Corporate Services can help your company achieve uncompromising success and to alleviate stress come tax season.</h5>
		</div>
	</div>
		
	<div class="container aboutpage-container"> 
		<div class="row inner-aboutpage-row">
			<h1>Prime Corporates Mission</h1>
			<h5>"We are not happy when you pay the IRS more than you need to, and you shouldn’t be either!"</h5>
		</div>
	</div>
</body>