<body class="aboutbody">
	<div class="container aboutpage-container">
		<div class="row inner-aboutpage-row">

			<h1>About Prime Corportate Services</h1>
			
			<h5>Prime Corporate Services was founded by brothers that saw a big gap in entity creation, business taxes, and business credit. There are so many businesses that fail because of improper entity setup, lack of tax knowledge and floating company debt on your personal funds. Here at Prime we are changing the game when it comes to these three areas. We understand what it takes to be successful in these area’s and want to pass that knowledge onto our clients. Our clients will have 100% visibility with the consequences for tax that come with the decisions you make with your business. Our focus is working for our clients, their businesses, and their financial needs… NOT the IRS!</h5>

			<h5>Our dedicated staff works year-round to ensure that you receive the very best advice and service. We know and understand the strategies successful entrepreneurs follow and we take that knowledge and tailor it to work for your business along with your personal goals. We have help 10’s of thousands of clients with entity creation, taxes, and business credit, striving to be the easiest, most accurate, company to work with. </h5>

			<h5>Please take a moment to look over our website and learn what separates us from other companies. Learn how Prime Corporate Services can help your company achieve uncompromising success and to alleviate stress come tax season.</h5>
		</div>
	</div>
		
	<div class="container aboutpage-container"> 
		<div class="row inner-aboutpage-row">
			<h1>Prime Corporates Mission</h1>
			<h5>"We are not happy when you pay the IRS more than you need to, and you shouldn’t be either!"</h5>
		</div>
	</div>
</body>
