<div class="carousel-item active">
  <img class="d-block img-fluid img1" src="<%= asset_path( 'creditmainimg' ) %>" alt="First slide"/>
    <div class="carousel-caption d-none d-block credit-img-text">
			<h1>Corporate Credit</h1>
			<p>Cash is the lifeblood of business. Our business of credit mentoring empowers you to establish credit lines for your business.</p>
			<a href="/contact" class="btn btn-primary btn-md credit-btn2" role="button" aria-disabled="true">Get Started Today</a>
		</div>
</div>