<body class="corpcreditbody">
<div class="carousel-item active">
  <img class="d-block img-fluid img1" src="https://s3-us-west-2.amazonaws.com/primecorpservices/creditmainimg.jpg" alt="First slide"/>
    <div class="carousel-caption d-none d-block credit-img-text">
			<h1>Corporate Credit</h1>
			<p>Cash is the lifeblood of business. Our business of credit mentoring empowers you to establish credit lines for your business.</p>
			<a href="/contact" class="btn btn-primary btn-md credit-btn2" role="button" aria-disabled="true">Get Started Today</a>
		</div>
</div>


<div class="row corp-credit-divtext">
	<h2>Building a strong credit profile is key as you will give your company the ability to grow or prepare for a rainy day!</h2>
</div>

<div class="corp-credit-container-styles">
	<div class="row corp-credit-mainrow-styles">
		<div class="col-md-4 credit-page-margin">
			<div class="card card-margin-credit-page" style="width: 20rem;">
  			<img class="card-img-top corp-credit-cardimg-style" src="https://s3-us-west-2.amazonaws.com/primecorpservices/corpcreditpage4.jpg" alt="Card image cap">
  			<div class="card-block">
    		<h4 class="card-title">Full 12 Months of Training/Support</h4>
    		<p class="card-text">During this 12 months of training we will cover quite a few very important items when it comes to business and some personal credit! First, we will give you techniques for jump starting your business credit so you start gaining ground as soon as possible. Reviewing all funding options is also a huge step because there may be some funding options that you are approved for but are not the best option for your business. You will have access to many additional online resources and much more content to make sure you are successful as possible!</p>
  			</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card card-margin-credit-page" style="width: 20rem;">
  			<img class="card-img-top corp-credit-cardimg-style" src="https://s3-us-west-2.amazonaws.com/primecorpservices/corpcreditpage3.jpg" alt="Card image cap">
  			<div class="card-block">
    		<h4 class="card-title">One-on-one Coaching Sessions</h4>
    		<p class="card-text">Your one on one coaching sessions will cover multiple area's that will be key to your success in building strong business credit. We will cover how to apply for various types of credit, as showing different lines of credit will only benefit you in the long run! Not only do we educate you on business credit, we educate you on improving your personal credit score and how to maintain it! Finally, review of information on common mistakes that can damage your ability to obtain credit!</p>
  			</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card card-margin-credit-page" style="width: 20rem;">
  			<img class="card-img-top corp-credit-cardimg-style" src="https://s3-us-west-2.amazonaws.com/primecorpservices/corpcredit2.jpg" alt="Card image cap">
  			<div class="card-block">
    		<h4 class="card-title">Identify Best Credit Sources</h4>
    		<p class="card-text">As you have probably noticed, there are many different types of credit sources. You can get business loans and business credit cards with muiltiple lenders. What we want to teach you is how to make the decision between all of these. Always be looking for how that card or loan can benefit you outside of what the money is going towards. To start you may need a 0% interest card, or down the road a little bit, you want one that is just purely cash back. There are many different avenues we can go down, and we plan to educate you on what will be best for your business, not everyones business.</p>
  			</div>
			</div>
		</div>
	</div>
	<div class="row entity-btn-bottom">
		<a href="/contact" class="btn btn-primary btn-md entity-btncredit" role="button" aria-disabled="true">Get Started Today	</a>
	</div>
</div>	
</body>
