<body class="corpcreditbody">
<div class="carousel-item active">
  <img class="d-block img-fluid img1" src="https://s3-us-west-2.amazonaws.com/primecorpservices/creditmainimg.jpg" alt="First slide"/>
    <div class="carousel-caption d-none d-block credit-img-text">
			<h1>Corporate Credit</h1>
			<p>Cash is the lifeblood of business. Our business of credit mentoring empowers you to establish credit lines for your business.</p>
			<a href="/contact" class="btn btn-primary btn-lg credit-btn2" role="button" aria-disabled="true">Get Started Today</a>
		</div>
</div>


<div class="row corp-credit-divtext">
	<h2>Building a strong credit profile is key as you will give your company the ability to grow or prepare for a rainy day!</h2>
</div>

<div class="corp-credit-container-styles">
	<div class="row corp-credit-mainrow-styles">
		<div class="col-md-4 credit-page-margin">
			<div class="card card-margin-credit-page" style="width: 20rem;">
  			<img class="card-img-top corp-credit-cardimg-style" src="https://s3-us-west-2.amazonaws.com/primecorpservices/corpcreditpage4.jpg" alt="Card image cap">
  			<div class="card-block">
    		<h4 class="card-title">Full 12 Months of Training/Support</h4>
    		<p class="card-text">In our TWELVE MONTHS of working with you, we will cover the contributing factors that play significant roles in both your business and personal profiles! We will share the proper techniques to jump start your business credit to gain some traction on your financial ground. Reviewing ALL funding options is a HUGE STEP! There are many options in funding that you may be approved for; however, they may not complement your business so it is important to review and approach accordingly. You will have access to additional online resources and much more content to assure you that we are always aiming to amplify your success!</p>
  			</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card card-margin-credit-page" style="width: 20rem;">
  			<img class="card-img-top corp-credit-cardimg-style" src="https://s3-us-west-2.amazonaws.com/primecorpservices/corpcredit2.jpg" alt="Card image cap">
  			<div class="card-block">
    		<h4 class="card-title">Identify Best Credit Sources</h4>
    		<p class="card-text">As you have probably learned, there are many different types of sources for credit out there. Variations of business loans and business credit cards with numerous lenders are all available. “Which credit source is right for me and my business?” This is a question many people fumble around. We focus on teaching you the extensive research and assessments that go into making this decision due to the countless options and their differences. Here at Prime, we do not want to get you into a loan or a credit card; this is not what your business is going to need.</p>
  			</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card card-margin-credit-page" style="width: 20rem;">
  			<img class="card-img-top corp-credit-cardimg-style" src="https://s3-us-west-2.amazonaws.com/primecorpservices/corpcreditpage3.jpg" alt="Card image cap">
  			<div class="card-block">
    		<h4 class="card-title">One-on-one Coaching Sessions</h4>
    		<p class="card-text">Your one-on-one coaching sessions will cover multiple areas’ that are essential to the success of building your strong business credit. We will cover the process in approaching different credit sources! Approaching a variety of sources at the right time can benefit you in the long haul. We not only educate you on your business credit; we educate you on improving your personal credit score as well. It is important to maintain a good standing on both! Unknowingly, common mistakes are often made that may damage the ability to obtain credit; this is something we review in detail to allow us to forego any routes not applicable.</p>
  			</div>
			</div>
		</div>
		
	</div>
	<div class="row entity-btn-bottom">
		<a href="/contact" class="btn btn-primary btn-lg entity-btncredit" role="button" aria-disabled="true">Get Started Today	</a>
	</div>
</div>	
</body>
