<body class="corpcreditbody">
<div class="carousel-item active">
  <img class="d-block img-fluid img1" src="https://s3-us-west-2.amazonaws.com/primecorpservices/creditmainimg.jpg" alt="First slide"/>
    <div class="carousel-caption d-none d-block credit-img-text">
			<h1>Corporate Credit</h1>
			<p>Cash is the lifeblood of business. Our business of credit mentoring empowers you to establish credit lines for your business.</p>
			<a href="/contact" class="btn btn-primary btn-md credit-btn2" role="button" aria-disabled="true">Get Started Today</a>
		</div>
</div>


<div class="row corp-credit-divtext">
	<h2>Building a strong credit profile is key as you will give your company the ability to grow or prepare for a rainy day!</h2>
</div>

<div class="container corp-credit-container-styles">
	<div class="row corp-credit-mainrow-styles">
		<div class="col-md-4">
			<div class="card" style="width: 20rem;">
  			<img class="card-img-top corp-credit-cardimg-style" src="https://s3-us-west-2.amazonaws.com/primecorpservices/corpcreditpage4.jpg" alt="Card image cap">
  			<div class="card-block">
    		<h4 class="card-title">Full 12 Months of Training/Support</h4>
    		<p class="card-text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
  			</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card" style="width: 20rem;">
  			<img class="card-img-top corp-credit-cardimg-style" src="https://s3-us-west-2.amazonaws.com/primecorpservices/corpcreditpage3.jpg" alt="Card image cap">
  			<div class="card-block">
    		<h4 class="card-title">One-on-one Coaching Sessions</h4>
    		<p class="card-text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
  			</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card" style="width: 20rem;">
  			<img class="card-img-top corp-credit-cardimg-style" src="https://s3-us-west-2.amazonaws.com/primecorpservices/corpcredit2.jpg" alt="Card image cap">
  			<div class="card-block">
    		<h4 class="card-title">Identify Best Credit Sources</h4>
    		<p class="card-text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
  			</div>
			</div>
		</div>
	</div>
	<div class="row entity-btn-bottom">
		<a href="/contact" class="btn btn-primary btn-md entity-btncredit" role="button" aria-disabled="true">Get Started Today	</a>
	</div>
</div>	
</body>
