<div class="row entity-header-presentation">
	<h2>Entity Setup: We want you to worry about making money, that is why our entity team is fast, accurate, and informed, all while tailoring it to your exact needs!</h2>
</div>

<div class="container presentation-container0">
	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="500000">
	  <ol class="carousel-indicators">
	    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
	    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
	    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
	    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
	    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
	    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
	    <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
	  </ol>
  <div class="carousel-inner" role="listbox">
	  <div class="carousel-item active">
	    <img class="d-block img-fluid presentation-container3" src="https://s3-us-west-2.amazonaws.com/primecorpservices/entitypresentationbackground.jpg" alt="First slide">
		  	<div class="carousel-caption d-none d-md-block entity-slide1">
	    		<h3>Limited Liability Company (LLC) or S-Corporation</h3>
	    		<h4>Which business entity is going to be the best for your home based business?</h4>
	    		<p>There are many benefits to each of these entity types, and we will teach you how to use all of those in your favor! </p>
	  		</div>
	  </div>
	  <div class="carousel-item">
	    <img class="d-block img-fluid presentation-container3" src="https://s3-us-west-2.amazonaws.com/primecorpservices/entitypresentationbackground.jpg" alt="Second slide">
		  	<div class="carousel-caption d-none d-md-block entity-slide2">
	    		<h3>Limited Liability Company (LLC)- How can it benefit you?</h3> 
	    			<ul>
	    				<li>Protected Assets</li>
	    				<li>Pass-through Taxation</li>
	    				<li>Limited Compliance Requirements</li>
	    				<li>Flexible Management Structure</li>
	    				<li>Few Restrictions</li>
	    				<li>Heightened Credibility</li>
	    			</ul>
	  		</div>
	  </div>
	  <div class="carousel-item">
	    <img class="d-block img-fluid presentation-container3" src="https://s3-us-west-2.amazonaws.com/primecorpservices/entitypresentationbackground.jpg" alt="Third slide">
		  	<div class="carousel-caption d-none d-md-block entity-slide3">
	    		<h3>LLC Member Asset Protection</h3>
	    		<p>LLCs provide limited liability protection to their owners (members), in the sense of not being personally responsible for the business debts and liabilities of the LLC. Creditors cannot pursue the personal assets (house, savings accounts, etc.) of the owners to pay the business debts.</p>
	    		<p>Don't be the person that thinks you are above getting sued or having a judgment filled against you. If you are selling something or providing a service, someone is going to be unhappy at some point! Don't settle for a soul proprietor or something that doesn't have protection and have the risk of losing your personal assets! If something were to happen like this under your LLC, the other party can only go after business assets and bank accounts.</p>
	  		</div>
	  </div>
	  <div class="carousel-item">
    	<img class="d-block img-fluid presentation-container3" src="https://s3-us-west-2.amazonaws.com/primecorpservices/entitypresentationbackground.jpg" alt="Forth slide">
	    	<div class="carousel-caption d-none d-md-block entity-slide4">
	    		<h3>Tax Benefits to operating an LLC</h3>
	   	  	<h5>LLCs on average can have a lower tax rate than corporations. For example, the corporate tax rate for 75k is 34%, while the personal tax rate for that amount is 25%. -Fun Fact</h5>
	   	  	<ul>
	   	  		<li><em>Start writing off everything you use for work!</em></li>
	   	  		<li>Computer and Office Supplies</li>
	   	  		<li>Cell phone and mortgage payment (if you own your home)</li>
	   	  		<li>Internet Bill and Power Bill</li>
	   	  		<li>The list goes on and on with different things that you can write off under your LLC</li>
	   	  	</ul>
	   	  	<p>Use the tax benefits that come along with owning your own business to your advantage! You can save a lot of money on taxes every year by keeping track of all of your deductions. You have to be very diligent but it is worth it in the end!</p>
	  		</div>
  	</div>
  	<div class="carousel-item">
    	<img class="d-block img-fluid presentation-container3" src="https://s3-us-west-2.amazonaws.com/primecorpservices/entitypresentationbackground.jpg" alt="Fifth slide">
	    	<div class="carousel-caption d-none d-md-block entity-slide5">
	    		<h3>Compliance and Governing Documents</h3>
	    		<h4>These two areas are very important because accuracy is key! If you are not accurate with these documents, it will be easy to get into trouble with your taxes and possibly suspension of your LLC.</h4>
	   	  	<ul>
	   	  		<li><em>Governing Documents</em></li>
	   	  		<li>SS4- This will supply your EIN</li>
	   	  		<li>Completion of Operating Agreement</li>
	   	  		<li>Obtaining Business License</li>
	   	  		<br>
	   	  		<li><em>Compliance</em></li>
	   	  		<li>Completing your annual filing (this is dependent of state requirements</li>
	   	  		<li>Setting meeting times if you have partners and recording all details of the meeting.</li>
	   	  	</ul>
	  		</div>
  	</div>
  	<div class="carousel-item">
    	<img class="d-block img-fluid presentation-container3" src="https://s3-us-west-2.amazonaws.com/primecorpservices/entitypresentationbackground.jpg" alt="Sixth slide">
	    	<div class="carousel-caption d-none d-md-block entity-slide6">
	    		<h3>S-Corporation- How can it benefit you?</h3>
	    		<ul>
	    			<li>Asset Protection for Members</li>
	    			<li>Pass-through Taxation (All monies into the corporation are passed straight ßto the shareholders)</li>
	    			<li>Tax Favorable Characterization of Income- You can get really creative on how you position the money that you are drawing from the corporation in order to reduce your self-employment tax.</li>
	    			<li>Straightforward Transfer of Ownership- If for any reason you wanted to bring on a partner or sell your business, you could do so without some of the tax consequences that come along with that under a LLC.</li>
	    		</ul>
	    		<h3>What are the set up and compliance guide lines around an S-Corp?</h3>
	
	  		</div>
  	</div>
  	<div class="carousel-item">
    	<img class="d-block img-fluid presentation-container3" src="https://s3-us-west-2.amazonaws.com/primecorpservices/entitypresentationbackground.jpg" alt="Seventh slide">
	    	<div class="carousel-caption d-none d-md-block entity-slide7">
	    		<h3>S-Corp Asset Protection</h3>
	   	  	<p>Simliar to an LLC, an S-Corp protects the personal assets of its shareholders. A shareholder is not personally responsible for the business debts and liabilities of the corporation. Creditors cannot pursue the personal assets of the shareholders to pay business debts.</p>
	   	  	<p>The asset protection benefits of an LLC and S-corp are very similiar. Either way, it is very smart to list your business under one of the two entities so you can have this protection as your are running your business.</p>
	  		</div>
  	</div>
  	<div class="carousel-item">
    	<img class="d-block img-fluid presentation-container3" src="https://s3-us-west-2.amazonaws.com/primecorpservices/entitypresentationbackground.jpg" alt="Seventh slide">
	    	<div class="carousel-caption d-none d-md-block entity-slide8">
	    		<h3>Tax Benefits and Deductions</h3>
	   	  	<h4>With an S-Corp you can get very creative with how you postion your pay and different assets to benefit you on your taxes.</h4>
	   	  	<ul>
	   	  		<li>Pass-through Taxation- Basically what this means, is that your corporation will not pay federal taxes on a corporate level. So all profits and losses are passed through to the individual to be taxed on a personal level.</li>
	   	  		<li>Fringe Benefits- Under an S-Corp you are able to completly write off all of your medical expenses. So you would be able to write off your health insurance payments each year.</li>
	   	  		<li>There are many many more benefits to having an S-corp in the tax world. You can start writing off your cell phone, computer, internet, power bill, this list goes on.</li>
	   	  		<li>You can list yourself as an employee of your corporation and draw a salary from straight from it. What this is going to do is reduce your self-employement tax liability, all while still generating business expense and wages-paid deductions for the corporation.</li>
	   	  	</ul>
	  		</div>
  	</div>
  	<div class="carousel-item">
    	<img class="d-block img-fluid presentation-container3" src="https://s3-us-west-2.amazonaws.com/primecorpservices/entitypresentationbackground.jpg" alt="Seventh slide">
	    	<div class="carousel-caption d-none d-md-block entity-slide9">
	    		<h3>S-corp set up and compliance guide lines.</h3>
		   	  	<ul>
		   	  		<li>Filing Articles of Incorporation</li>
		   	  		<li>Obtaining your EIN from the IRS</li>
		   	  		<li>Obtaining a registered agent</li>
		   	  		<li>Managing your annual report and franchise fees</li>
		   	  		<li>Managing and holding your mandatory meetings</li>
		   	  	</ul>
	  		</div>
  	</div>
  	<div class="carousel-item">
    	<img class="d-block img-fluid presentation-container3" src="https://s3-us-west-2.amazonaws.com/primecorpservices/entitypresentationbackground.jpg" alt="Seventh slide">
	    	<div class="carousel-caption d-none d-md-block entity-slide10">
	    		<h3>Thank You and Welcome to Prime Corporate Services</h3>
	   	  	<p>...</p>
	  		</div>
  	</div>
  </div>
	  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
	    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
	    <span class="carousel-control-next-icon" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
	</div>
</div>

<div class="row corp-credit-presentation">
	<h2>Corporate Credit: Quit using your own money for business expenses, you are liable for 100% of that money! Any cost of the business, should fall under business cashflow/credit!</h2>
</div>
<div class="corp-background-presentation">
<div class="container presentation-container1">
	<div id="carouselExampleIndicators1" class="carousel slide" data-ride="carousel">
	  <ol class="carousel-indicators">
	    <li data-target="#carouselExampleIndicators1" data-slide-to="0" class="active"></li>
	    <li data-target="#carouselExampleIndicators1" data-slide-to="1"></li>
	    <li data-target="#carouselExampleIndicators1" data-slide-to="2"></li>
	    <li data-target="#carouselExampleIndicators1" data-slide-to="3"></li>
	    <li data-target="#carouselExampleIndicators1" data-slide-to="4"></li>
	    <li data-target="#carouselExampleIndicators1" data-slide-to="5"></li>
	    <li data-target="#carouselExampleIndicators1" data-slide-to="6"></li>
	  </ol>
  <div class="carousel-inner" role="listbox">
	  <div class="carousel-item active">
	    <img class="d-block img-fluid presentation-container" src="https://s3-us-west-2.amazonaws.com/primecorpservices/creditpresentationbackground.jpg" alt="First slide">
	    <div class="carousel-caption d-none d-md-block">
	    	<h3>...</h3>
	   	  <p>...</p>
	  	</div>
	  </div>
	  <div class="carousel-item">
	    <img class="d-block img-fluid presentation-container" src="https://s3-us-west-2.amazonaws.com/primecorpservices/creditpresentationbackground.jpg" alt="Second slide">
	    <div class="carousel-caption d-none d-md-block">
	    	<h3>...</h3>
	   	  <p>...</p>
	  	</div>
	  </div>
	  <div class="carousel-item">
	    <img class="d-block img-fluid presentation-container" src="https://s3-us-west-2.amazonaws.com/primecorpservices/creditpresentationbackground.jpg" alt="Third slide">
	    <div class="carousel-caption d-none d-md-block">
	    	<h3>...</h3>
	   	  <p>...</p>
	  	</div>
	  </div>
	  <div class="carousel-item">
    	<img class="d-block img-fluid presentation-container" src="https://s3-us-west-2.amazonaws.com/primecorpservices/creditpresentationbackground.jpg" alt="Forth slide">
    	<div class="carousel-caption d-none d-md-block">
	    	<h3>...</h3>
	   	  <p>...</p>
	  	</div>
  	</div>
  	<div class="carousel-item">
    	<img class="d-block img-fluid presentation-container" src="https://s3-us-west-2.amazonaws.com/primecorpservices/creditpresentationbackground.jpg" alt="Fifth slide">
    	<div class="carousel-caption d-none d-md-block">
	    	<h3>...</h3>
	   	  <p>...</p>
	  	</div>
  	</div>
  	<div class="carousel-item">
    	<img class="d-block img-fluid presentation-container" src="https://s3-us-west-2.amazonaws.com/primecorpservices/creditpresentationbackground.jpg" alt="Sixth slide">
    	<div class="carousel-caption d-none d-md-block">
	    	<h3>...</h3>
	   	  <p>...</p>
	  	</div>
  	</div>
  	<div class="carousel-item">
    	<img class="d-block img-fluid presentation-container" src="https://s3-us-west-2.amazonaws.com/primecorpservices/creditpresentationbackground.jpg" alt="Seventh slide">
    	<div class="carousel-caption d-none d-md-block">
	    	<h3>...</h3>
	   	  <p>...</p>
	  	</div>
  	</div>
  </div>
	 	<a class="carousel-control-prev" href="#carouselExampleIndicators1" role="button" data-slide="prev">
	    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="carousel-control-next" href="#carouselExampleIndicators1" role="button" data-slide="next">
	    <span class="carousel-control-next-icon" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
	</div>
</div>
</div>