<div class="carousel-item active">
  <img class="d-block img-fluid img1" src="<%= asset_path( 'entityimg1' ) %>" alt="First slide"/>
    <div class="carousel-caption d-none d-block entity-img-text">
			<h1>Entity Creation</h1>
			<p>Our entity creation process is designed to properly address state specific requirements to make the process of proper set up as easy and accurate for each client as possible</p>
			<a href="/contact" class="btn btn-primary btn-md entity-btn2" role="button" aria-disabled="true">Get Started Today</a>
		</div>
</div>

	<div class="row main-container">
		<div class="col-md-12 video-title">
			<h2>What is best for you?</h2>
			<h3>LLC? - Corporation? - Sole Proprietorship?</h3>
		</div>
	</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4 entity-service-container-left">
        <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
        <h2>Marketing Box #1</h2>
        <p>These marketing boxes are a great place to put some information. These can contain summaries of what the company does, promotional information, or anything else that is relevant to the company. These will usually be below-the-fold.</p>
    </div>
    <div class="col-sm-4 entity-service-container-low">
        <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
        <h2>Marketing Box #2</h2>
        <p>The images are set to be circular and responsive. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
    </div>
    <div class="col-sm-4 entity-service-container-right">
        <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
        <h2>Marketing Box #3</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
    </div>
  </div>  
</div>