<div class="row entity-header-presentation">
	<h2>Entity Setup: We want you to worry about making money, that is why our entity team is fast, accurate, and informed, all while tailoring it to your exact needs!</h2>
</div>

<div class="container presentation-container0">
	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="500000">
	  <ol class="carousel-indicators">
	    <li class="indicatorcolor" data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
	    <li class="indicatorcolor" data-target="#carouselExampleIndicators" data-slide-to="1"></li>
	    <li class="indicatorcolor" data-target="#carouselExampleIndicators" data-slide-to="2"></li>
	    <li class="indicatorcolor" data-target="#carouselExampleIndicators" data-slide-to="3"></li>
	    <li class="indicatorcolor" data-target="#carouselExampleIndicators" data-slide-to="4"></li>
	    <li class="indicatorcolor" data-target="#carouselExampleIndicators" data-slide-to="5"></li>
	    <li class="indicatorcolor" data-target="#carouselExampleIndicators" data-slide-to="6"></li>
	    <li class="indicatorcolor" data-target="#carouselExampleIndicators" data-slide-to="7"></li>
	    <li class="indicatorcolor" data-target="#carouselExampleIndicators" data-slide-to="8"></li>
	    <li class="indicatorcolor" data-target="#carouselExampleIndicators" data-slide-to="9"></li>
	  </ol>
  <div class="carousel-inner" role="listbox">
	  <div class="carousel-item active">
	    <img class="d-block img-fluid presentation-container3" src="https://s3-us-west-2.amazonaws.com/primecorpservices/entitypresentationbackground.jpg" alt="First slide">
		  	<div class="carousel-caption d-none d-md-block entity-slide1">
	    		<h1>Limited Liability Company (LLC)</h1> 
	    		<h1>or</h1> 
	    		<h1>S-Corporation?</h1>
	    		<h2>Which business entity is going to be the best for your home based business?</h2>
	    		<h4>There are many benefits to each of these entity types, and we will teach you how to use all of those in your favor! </h4>
	  		</div>
	  </div>
	  <div class="carousel-item">
	    <img class="d-block img-fluid presentation-container3" src="https://s3-us-west-2.amazonaws.com/primecorpservices/entitypresentationbackground.jpg" alt="Second slide">
		  	<div class="carousel-caption d-none d-md-block entity-slide2">
	    		<h3>Limited Liability Company (LLC)- How can it benefit you?</h3> 
	    			<h5>
		    			<ul>
		    				<li>Protected Assets</li>
		    				<li>Pass-through Taxation</li>
		    				<li>Limited Compliance Requirements</li>
		    				<li>Flexible Management Structure</li>
		    				<li>Few Restrictions</li>
		    				<li>Heightened Credibility</li>
		    			</ul>
	    			</h5>
	  		</div>
	  </div>
	  <div class="carousel-item">
	    <img class="d-block img-fluid presentation-container3" src="https://s3-us-west-2.amazonaws.com/primecorpservices/entitypresentationbackground.jpg" alt="Third slide">
		  	<div class="carousel-caption d-none d-md-block entity-slide3">
	    		<h3>LLC Member Asset Protection</h3>
	    		<h5>LLCs provide limited liability protection to their owners (members), in the sense of not being personally responsible for the business debts and liabilities of the LLC. Creditors cannot pursue the personal assets (house, savings accounts, etc.) of the owners to pay the business debts.</h5>
	    		<h5>Don't be the person that thinks you are above getting sued or having a judgment filled against you. If you are selling something or providing a service, someone is going to be unhappy at some point! Don't settle for a soul proprietor or something that doesn't have protection and have the risk of losing your personal assets! If something were to happen like this under your LLC, the other party can only go after business assets and bank accounts.</h5>
	  		</div>
	  </div>
	  <div class="carousel-item">
    	<img class="d-block img-fluid presentation-container3" src="https://s3-us-west-2.amazonaws.com/primecorpservices/entitypresentationbackground.jpg" alt="Forth slide">
	    	<div class="carousel-caption d-none d-md-block entity-slide4">
	    		<h3>Tax Benefits to operating an LLC</h3>
	   	  	<h5>LLCs on average can have a lower tax rate than corporations. For example, the corporate tax rate for 75k is 34%, while the personal tax rate for that amount is 25%. -Fun Fact</h5>
	   	  	<h5>
		   	  	<ul>
		   	  		<li><em>Start writing off everything you use for work!</em></li>
		   	  		<li>Computer and Office Supplies</li>
		   	  		<li>Cell phone and mortgage payment (if you own your home)</li>
		   	  		<li>Internet Bill and Power Bill</li>
		   	  		<li>The list goes on and on with different things that you can write off under your LLC</li>
		   	  	</ul>
	   	  	</h5>
	   	  	<h5>Use the tax benefits that come along with owning your own business to your advantage! You can save a lot of money on taxes every year by keeping track of all of your deductions. You have to be very diligent but it is worth it in the end!</h5>
	  		</div>
  	</div>
  	<div class="carousel-item">
    	<img class="d-block img-fluid presentation-container3" src="https://s3-us-west-2.amazonaws.com/primecorpservices/entitypresentationbackground.jpg" alt="Fifth slide">
	    	<div class="carousel-caption d-none d-md-block entity-slide5">
	    		<h3>Compliance and Governing Documents</h3>
	    		<h4>These two areas are very important because accuracy is key! If you are not accurate with these documents, it will be easy to get into trouble with your taxes and possibly suspension of your LLC.</h4>
	   	  	<h5>
		   	  	<ul>
		   	  		<h4><li><em>Governing Documents</em></li></h4>
		   	  		<li>SS4- This will supply your EIN</li>
		   	  		<li>Completion of Operating Agreement</li>
		   	  		<li>Obtaining Business License</li>
		   	  		<br>
		   	  		<h4><li><em>Compliance</em></li></h4>
		   	  		<li>Completing your annual filing (this is dependent of state requirements</li>
		   	  		<li>Setting meeting times if you have partners and recording all details of the meeting.</li>
		   	  	</ul>
	   	  	</h5>
	  		</div>
  	</div>
  	<div class="carousel-item">
    	<img class="d-block img-fluid presentation-container3" src="https://s3-us-west-2.amazonaws.com/primecorpservices/entitypresentationbackground.jpg" alt="Sixth slide">
	    	<div class="carousel-caption d-none d-md-block entity-slide6">
	    		<h3>S-Corporation- How can it benefit you?</h3>
	    		<h5>
		    		<ul>
		    			<li>Asset Protection for Members</li>
		    			<li>Pass-through Taxation (All monies into the corporation are passed straight ßto the shareholders)</li>
		    			<li>Tax Favorable Characterization of Income- You can get really creative on how you position the money that you are drawing from the corporation in order to reduce your self-employment tax.</li>
		    			<li>Straightforward Transfer of Ownership- If for any reason you wanted to bring on a partner or sell your business, you could do so without some of the tax consequences that come along with that under a LLC.</li>
		    		</ul>
	    		</h5>
	    		<h3>What are the set up and compliance guide lines around an S-Corp?</h3>
	
	  		</div>
  	</div>
  	<div class="carousel-item">
    	<img class="d-block img-fluid presentation-container3" src="https://s3-us-west-2.amazonaws.com/primecorpservices/entitypresentationbackground.jpg" alt="Seventh slide">
	    	<div class="carousel-caption d-none d-md-block entity-slide7">
	    		<h3>S-Corp Asset Protection</h3>
	   	  	<h5>Simliar to an LLC, an S-Corp protects the personal assets of its shareholders. A shareholder is not personally responsible for the business debts and liabilities of the corporation. Creditors cannot pursue the personal assets of the shareholders to pay business debts.</h5>
	   	  	<h5>The asset protection benefits of an LLC and S-corp are very similiar. Either way, it is very smart to list your business under one of the two entities so you can have this protection as your are running your business.</h5>
	  		</div>
  	</div>
  	<div class="carousel-item">
    	<img class="d-block img-fluid presentation-container3" src="https://s3-us-west-2.amazonaws.com/primecorpservices/entitypresentationbackground.jpg" alt="Seventh slide">
	    	<div class="carousel-caption d-none d-md-block entity-slide8">
	    		<h3>Tax Benefits and Deductions</h3>
	   	  	<h4>With an S-Corp you can get very creative with how you postion your pay and different assets to benefit you on your taxes.</h4>
	   	  	<h5>
		   	  	<ul>
		   	  		<li>Pass-through Taxation- Basically what this means, is that your corporation will not pay federal taxes on a corporate level. So all profits and losses are passed through to the individual to be taxed on a personal level.</li>
		   	  		<li>Fringe Benefits- Under an S-Corp you are able to completly write off all of your medical expenses. So you would be able to write off your health insurance payments each year.</li>
		   	  		<li>There are many many more benefits to having an S-corp in the tax world. You can start writing off your cell phone, computer, internet, power bill, this list goes on.</li>
		   	  		<li>You can list yourself as an employee of your corporation and draw a salary from straight from it. What this is going to do is reduce your self-employement tax liability, all while still generating business expense and wages-paid deductions for the corporation.</li>
		   	  	</ul>
	   	  	</h5>
	  		</div>
  	</div>
  	<div class="carousel-item">
    	<img class="d-block img-fluid presentation-container3" src="https://s3-us-west-2.amazonaws.com/primecorpservices/entitypresentationbackground.jpg" alt="Seventh slide">
	    	<div class="carousel-caption d-none d-md-block entity-slide9">
	    		<h3>S-corp set up and compliance guide lines.</h3>
	    		<h5>
		   	  	<ul>
		   	  		<li>Filing Articles of Incorporation</li>
		   	  		<li>Obtaining your EIN from the IRS</li>
		   	  		<li>Obtaining a registered agent</li>
		   	  		<li>Managing your annual report and franchise fees</li>
		   	  		<li>Managing and holding your mandatory meetings</li>
		   	  	</ul>
		   	  </h5>	
	  		</div>
  	</div>
  	<div class="carousel-item">
    	<img class="d-block img-fluid presentation-container3" src="https://s3-us-west-2.amazonaws.com/primecorpservices/entitypresentationbackground.jpg" alt="Seventh slide">
	    	<div class="carousel-caption d-none d-md-block entity-slide10">
	    		<h1>Thank You and Welcome to Prime Corporate Services</h1>
	   	  	
	  		</div>
  	</div>
  </div>
	  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
	    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
	    <span class="carousel-control-next-icon" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
	</div>
</div>

<div class="row corp-credit-presentation">
	<h2>Corporate Credit: Quit using your own money for business expenses, you are liable for 100% of that money! Any cost of the business, should fall under business cashflow/credit!</h2>
</div>
<div class="corp-background-presentation">
	<div class="container presentation-container1">
		<div id="carouselExampleIndicators1" class="carousel slide" data-ride="carousel" data-interval="500000">
		  <ol class="carousel-indicators">
		    <li data-target="#carouselExampleIndicators1" data-slide-to="0" class="active"></li>
		    <li data-target="#carouselExampleIndicators1" data-slide-to="1"></li>
		    <li data-target="#carouselExampleIndicators1" data-slide-to="2"></li>
		    <li data-target="#carouselExampleIndicators1" data-slide-to="3"></li>
		  </ol>
	  <div class="carousel-inner" role="listbox">
		  <div class="carousel-item active">
		    <img class="d-block img-fluid presentation-container" src="https://s3-us-west-2.amazonaws.com/primecorpservices/creditpresentationbackground.jpg" alt="First slide">
		    <div class="carousel-caption d-none d-md-block credit-slide1">
		    	<h1>Corporate Credit</h1>
		   	  <h3>What is Corporate Credit?</h3>
		   	  <h5>Corporate credit, or Business Credit, is credit that is earned and assigned to a corporation or business rather than an individual or person. The type of credit is essential in establing and maintaing business or banking relationships that have potential creditors, vendors, business partners, or even clients. Having good business credit will only benefits you when you are looking for drop shipping affiliates or any other business contacts during your venture.</h5>
		   	  <h3>How can it benefit me?</h3>
		   	  <h5>Just like with your personal credit, many banks and business affiliates are going to look at your business credit to determine if they want to do business with you or not. With your personal credit, if you want a credit card, or a car, or a loan of any kind, you have to have good personal credit. Well its the same when it comes to business credit, if you want a loan or a business credit card, you are going to need to esablish business credit. The way that is it going to benefit you the most, is being able to put business debt under the business. You never want to float business debt under your personal funds. The reason for this, is that your personal money is not protected under the LLC. If the business fails, you are just out that money!</h5>
		  	</div>
		  </div>
		  <div class="carousel-item">
		    <img class="d-block img-fluid presentation-container" src="https://s3-us-west-2.amazonaws.com/primecorpservices/creditpresentationbackground.jpg" alt="Second slide">
		    <div class="carousel-caption d-none d-md-block credit-slide2">
		    	<h1>Credit Advisors</h1>
		   	  <h3>How are the advisors going to help me?</h3>
		   	  <h5>
		   	  	<ul>
		   	  		<li>One on One Coaching Sessions- They are going to take you through step by step on how to establish and maintain good business credit.</li>
		   	  		<li>A full 12 months of training and support on how to groom your business to be "bankable"!</li>
		   	  		<li>Finding which credit sources are going to be the best at various stages of your business.</li>
		   	  		<li>The know how for applying for different types of credit.</li>
		   	  		<li>They will also cover common mistakes that can damnage your ability to obtain credit.</li>
		   	  		<li>Our credit advisory team is one to none when it comes to providing the services needed for our clients to improve their business credit and even their personal credit!</li>
		   	  	</ul>
		   	  </h5>
		  	</div>
		  </div>
		  <div class="carousel-item">
		    <img class="d-block img-fluid presentation-container" src="https://s3-us-west-2.amazonaws.com/primecorpservices/creditpresentationbackground.jpg" alt="Third slide">
		    <div class="carousel-caption d-none d-md-block credit-slide3">
		    	<h1>Paydex Score</h1>
		   	  <h3>How it is calculated</h3>
		   	  <h5>While your personal credit score takes in a number of factors to consider, Paydex is colculated based on one single factor. Essentially, the factor is contingent upon whether the business makes payments to its respective suppliers and creditors either "as agreed" or "better than agreed" based on the contract with that company!</h5>
		   	  <h3>What is a good Paydex score?</h3>
		   	  <h5>The Paydex score ranges from 0 (being the worst) to 100 (being the best). A Paydex of 80 or higher is considered a very good score for a company. You achieve this score by paying your vendors or supplies on time or before the scheduled payment is due!</h5>
		   	  <h5>With all of these items, we would first have to make sure that we are in line with business compliance so we can register your business to start obtaining business credit.</h5>
		  	</div>
		  </div>
		  <div class="carousel-item">
	    	<img class="d-block img-fluid presentation-container" src="https://s3-us-west-2.amazonaws.com/primecorpservices/creditpresentationbackground.jpg" alt="Forth slide">
	    	<div class="carousel-caption d-none d-md-block credit-slide4">
		  		<h1>Corporate Funding</h1>
		  		<h3>Advice I wish I had recieved about setting up business credit for corporate funding.</h3>
		  		<h5>Many people make the mistake of floating all business expenses on their personal funds. That is okay in the very beginning, but you need to work hard to get some business credit going. Reason for this is, if anything ever happened to that business, you are going to be out that money. All of the protection benefits you get from the LLC do not apply if the money is your personal cash. Moral of the story, do not float business expenses on your personal dime! Once you are able to get a business account and credit card, start putting all of the funds under the business!</h5>

		  		<h5>The second thing is, dont go for the gold right out of the gate when it comes to applying for various types of credit. What I mean is this, go and try and find a small business credit card up front. Go and try to get an account with office depot or something like that up front. Charge some office items to it and then pay it off in full. Do not put yourself under water right out of the gate, we want you to 'build' your credit not get in so much debt you dont know what to do anymore.</h5>
		  	</div>
	  	</div>
	 
	  </div>
		 	<a class="carousel-control-prev" href="#carouselExampleIndicators1" role="button" data-slide="prev">
		    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="carousel-control-next" href="#carouselExampleIndicators1" role="button" data-slide="next">
		    <span class="carousel-control-next-icon" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </a>
		</div>
	</div>
</div>