<body class="entitypagebody">
<div class="carousel-item active">
  <img class="d-block img-fluid img1" src="https://s3-us-west-2.amazonaws.com/primecorpservices/entityimg1.jpg" alt="First slide"/>
    <div class="carousel-caption d-none d-block entity-img-text">
			<h1>Entity Creation</h1>
			<p>Our entity creation process is designed to properly address state specific requirements to make the process of proper set up as easy and accurate for each client as possible</p>
			<a href="/contact" class="btn btn-primary btn-md entity-btn2" role="button" aria-disabled="true">Get Started Today</a>
		</div>
</div>

	<div class="row main-container">
		<div class="col-md-12 video-title">
			<h2>HIT THE GROUND RUNNING! Let our process in setting up tailored entities help your business stand strong!</h2>
		</div>
	</div>


  <div class="row entity-padding-row">
    <div class="col-sm-4 entity-service-container-left">
        <i class="fa fa-handshake-o fa-5x entity-icon-size" aria-hidden="true"></i>
        <h2>Hands-on Consultation</h2>
        <hr>
        <p>This is not another website questionnaire; you will be talking with a live representative. This ensures that we fully understand you and your needs right out of the gate. We want everyone to have complete comprehension on the steps that go into getting your entity set up! We make sure that you understand the logistics of our process!</p>
    </div>
    <div class="col-sm-4 entity-service-container-low">
        <i class="fa fa-university fa-5x entity-icon-size" aria-hidden="true"></i>
        <h2>Next Steps</h2>
        <hr>
        <p>During this consultation, you will gain clarity on the process and expectations that come with running your business. We help you with everything from naming your business to creating all the legal documents and proper filings to avoid potential ramifications.</p>
    </div>
    <div class="col-sm-4 entity-service-container-right">
        <i class="fa fa-check-square fa-5x entity-icon-size" aria-hidden="true"></i>
        <h2>Almost There</h2>
        <hr>
        <p>Through the years, we have found that the entity set-up process is only the beginning battle on a journey to a successful endeavor.</p>
        <p> For most clients, this may be their first self-employment experience with: Handling records, tax payments, obtaining business licenses, and registering with proper agencies. Do not worry though; we are the one stop shop that can help you with all of the above!</p>
    </div>
  </div> 



  <div class="row entity-btn-bottom">
    <a href="/contact" class="btn btn-primary btn-md entity-btn3" role="button" aria-disabled="true">Get Started Today</a>
  </div>
</body>
