<div class="estate-textpres-style">
	<div class="row inner-estatetext-style">
		<h1><strong>Estate Planning:</strong></h1> <h2>Don't you or your family ever be in a state confusion based off estate planning. We can prepare you so you don't have to worry about a thing!</h2>
	</div>
</div>

<div class="estate-outside-container">
<div class="estate-presentation-container">
	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="500000">
	  <ol class="carousel-indicators">
	    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
	    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
	    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
	    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
	  </ol>
  <div class="carousel-inner" role="listbox">
	  <div class="carousel-item active">
	    <img class="d-block img-fluid estate-presentation-container1" src="https://s3-us-west-2.amazonaws.com/primecorpservices/estatepresentationbackground.jpg" alt="First slide">
	   	  <div class="carousel-caption d-none d-md-block estate-slides1">
	    		<h1>Will</h1>
	    		<h3>What is it?</h3>
	    		<h5>A will is a legal document that sets forth your wishes regarding the distribution of your property and the care of any minor children. To maximize the likelihood that your wishes are carried out, you want a will that is set forth in writing, and signed by you and your witnesses. If your will does not meet those basic standards, your instructions may not be carried out or hold up in court!</h5>
	    		<h3>How can it benefit me?</h3>
	    		<h5>Creating a will give you sole discretion over the distribution of your assets. It lets you decide how your belongings, such as cars or family heirlooms should be distributed. Especially if you have a business or investments a will can help that transfer process go much easier!</h5>
	  		</div>
	  </div>
	  <div class="carousel-item">
	    <img class="d-block img-fluid estate-presentation-container1" src="https://s3-us-west-2.amazonaws.com/primecorpservices/estatepresentationbackground.jpg" alt="Second slide">
	    	<div class="carousel-caption d-none d-md-block estate-slides2">
	    		<h1>Trust</h1>

	   			<h5>A trust is not really an account, but a legal document that holds ownership of assets. Individuals place assets in trusts for a variety of reasons. Some people use trusts to keep property out of probate before being passed to beneficiaries. Probate is that time-consuming and costly process of settling someone's will. A trust can also help shield assets from creditors, and assets held in a trust are exempt from the estate tax which comes in handy with estates worth more than $5.64 million.</h5>

	    		<h5><strong><em>Person setting up the trust:</em></strong> The person is commonly known as the trustor, though you may sometimes see the terms settlor or grantor.</h5>

	    	
	    		<h5><strong><em>Objective of the trust:</em></strong> You use different types of trusts to achieve a variety of specific estate-planning objectives. You can use some trusts for a single estate-planning objective, while others help you achieve more than one goal.</h5>

	  
	    		<h5><strong><em>Specific kind of trust:</em></strong> Trusts come in many different varieties. Regardless, when you’re setting up a trust, you need to decide what type of trust you want and make sure that you follow all the rules for that particular type of trust to make sure that it’s proper and legal, and carries out your intentions.</h5>

	  
	    		<h5><strong><em>Property:</em></strong> After you place property into a trust, that property is formally known as trust property.</h5>

	    		<h5><strong><em>Beneficiary:</em></strong> Just like with other aspects of your estate plan (your will, for example), a trust’s beneficiary (or, if more than one, beneficiaries) benefits from the trust in some way, usually because the person or institution will eventually receive some or all the property that was placed into trust.</h5>

	 
	    		<h5><strong><em>Trustee:</em></strong> The person in charge of the trust is known as the trustee. The trustee needs to understand the rules for the type of trust he or she is managing to make sure everything in the trust stays in working order.</h5>

	  		</div>
	  </div>
	  <div class="carousel-item">
	    <img class="d-block img-fluid estate-presentation-container1" src="https://s3-us-west-2.amazonaws.com/primecorpservices/estatepresentationbackground.jpg" alt="Third slide">
	    	<div class="carousel-caption d-none d-md-block estate-slides3">
	    		<h1>Living Will</h1>
	    		<h3>What is it?</h3>
	    		<h5>A living will is completely different from a regular will. The living will is mainly used for "end-of-life" medical care. In case something was to happen to you and you are unable to communicate your decisions, the living will would then take effect. Living wills have no authority after death, after that it would then go to a regular will for any correspondence from there on out.</h5>
	    		<h3>How can it benefit me?</h3>
	    		<h5>Having a living will can take a lot of the stress off your family if anything were to ever happen to you. Family members for the most part may not be able to make a logical decision in the time of crisis. Which can result in a giant financial burden for you and your family.</h5>
	  		</div>
	  </div>
	  <div class="carousel-item">
    	<img class="d-block img-fluid estate-presentation-container1" src="https://s3-us-west-2.amazonaws.com/primecorpservices/estatepresentationbackground.jpg" alt="Forth slide">
    		<div class="carousel-caption d-none d-md-block estate-slides4">
	    		<h1>Power of Attorney</h1>
	    		<h3>How can it benefit me?</h3>
	    		<h5>Having a power of attorney can benefit you in multiple areas. The first of which would provide you will the ability to choose who will make decisions for you (rather than a court). Provides family members an opportunity to discuss wishes and desires for next steps. It can prevent delays in asset protection planning which can be a very stressful situation. Most of all, it provides you and your family the peace of mind that you have a person of law on your side in times of hardship for your family.</h5>
	  		</div>
  	</div>
  </div>
	  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
	    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
	    <span class="carousel-control-next-icon" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
	</div>
</div>
</div>