<body class="estatebody">
	<div class="carousel-item active">
	  <img class="d-block img-fluid estate-img img1" src="https://s3-us-west-2.amazonaws.com/primecorpservices/estate.jpg" alt="First slide"/>
	    <div class="carousel-caption d-none d-block estate-img-text">
				<h1>Estate Planning</h1>
				<p>Planning your estate ahead will help ensure that you can give what you have to who you want, when you want, and the way you want!</p>
				<a href="/contact" class="btn btn-primary btn-lg estate-btn2" role="button" aria-disabled="true">Get Started Today</a>
			</div>
	</div>

	<div class="row estate-page-text-title">
		<h2>Structuring an estate plan is a lot like getting into better shape. We all know we should do it to better ourselves, but most of us never make the first move because the task seems daunting.</h2>
	</div>

	<div class="container estate-container">
		<div class="row main-estate-style-row">
			<div class="col-md-6 estate-pagetext">
				<h2>Why Plan My Estate?</h2>
				<hr>
				<p>An estate plan goes much further than a Will. Not only does it deal with the distribution of assets and legacy wishes, but it may help you and your heirs pay substantially less in taxes, fees, and court costs. Estate planning also helps you maintain control of your property while you are alive regardless of your age, health or financial condition! Initiating the process will never seem like the right time when you do it; however, it is human nature to not prioritize the necessity of something until it is in fact necessary!</p>
				<div class="row entity-btn-bottom">
					<a href="/contact" class="btn btn-primary btn-lg entity-btnestate" role="button" aria-disabled="true">Get Started Today	</a>
				</div>
			</div>
			<div class="col-md-6 estate-picpage-styles">
				<img class="d-block img-fluid estate-img" src="https://s3-us-west-2.amazonaws.com/primecorpservices/estatepagepic2.jpg"/>
			</div>
		</div>
	</div>	
	<div class="container estate-container">
		<div class="row main-estate-style-row">
			<div class="col-md-6 estate-picpage-styles1">
				<img class="d-block img-fluid estate-img" src="https://s3-us-west-2.amazonaws.com/primecorpservices/estatepagepic1.jpg"/>
			</div>
			<div class="col-md-6 estate-pagetext1">
				<h2>Benefits and Key Features</h2>
				<hr>
				<p>Many people think that estate plans are only for the rich and famous. The fact is, nearly everyone can benefit from having an estate plan in place. Planning your estate comes with a couple of key benefits that can lay your mind at rest after you are gone. Ask yourself a couple of questions: 1. Do you want to make sure that the instructions you have left behind are carried out according to your wishes? 2. Would you like to see certain possessions in the hands of selective people? 3. People that mean the most to you, do you want to make sure that the assets they receive have the least amount of headache? (i.e., amount of taxes, legal fees, and court costs)</p>
				<div class="row entity-btn-bottom">
					<a href="/contact" class="btn btn-primary btn-lg entity-btnestate" role="button" aria-disabled="true">Get Started Today	</a>
				</div>
			</div>
		</div>
	</div>
</body>