<div class="carousel-item active">
  <img class="d-block img-fluid estate-img" src="<%= asset_path( 'estate' ) %>" alt="First slide"/>
    <div class="carousel-caption d-none d-block estate-img-text">
			<h1>Estate Planning</h1>
			<p>Many people think they don't need to do any sort of estate planning, and they think that the existence of a simple will does the job!</p>
			<a href="/contact" class="btn btn-primary btn-md estate-btn2" role="button" aria-disabled="true">Get Started Today</a>
		</div>
</div>