<div class="carousel-item active">
  <img class="d-block img-fluid estate-img" src="<%= asset_path( 'estate' ) %>" alt="First slide"/>
    <div class="carousel-caption d-none d-block estate-img-text">
			<h1>Estate Planning</h1>
			<p>Have the piece of mind that your family will not have to worry about your assets after you're gone.</p>
			<a href="/contact" class="btn btn-primary btn-md estate-btn2" role="button" aria-disabled="true">Get Started Today</a>
		</div>
</div>