<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <%= render 'shared/carousel' %>
	  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
	    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
	    <span class="carousel-control-next-icon" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
  </div>
</div>

<div class="container quote-text">
	<p>"The key to paying less taxes is to find better insights into the complexities of the tax code. PCS will assign you a Personal Tax Advisor that understands the ins and outs of the tax code in ways that can deliver immediate benefits to your business."</p>
	<a href="/contact" class="btn btn-primary btn-lg quote-btn" role="button" aria-disabled="true">Get Started Today</a>
</div>

<div class="container tax-tips-main">
  <div class="row">
    <%= render 'shared/taxtips' %>
  </div>
</div>


<div class="container review-head">
  <h1>Featured Customer Reviews</h1><hr>
  <div class="row review-body">
    <%= render 'shared/reviewshome' %>
  </div>
  <a href="/contact" class="btn btn-primary btn-lg quote-btn1" role="button" aria-disabled="true">Get Started Today</a>
</div>

