<div class="container terms-page">
	<div class="row terms-row">
		<h1>Privacy Policy</h1>
		<br>
		<p>We do not share or transfer any of the information collected on the website. If you submit a form for information on our website you are voluntarily giving up that information.</p>

	</div>
</div>