<div class="container terms-page">
	<div class="row terms-row">
		<h1>Privacy Policy</h1>
		<p>This Privacy Policy applies to day to day operation, sites created, operated and maintained by Prime Corporate Service, LLC. (“Prime Corporate Services,” “we,” “us,” “our”) on its own behalf, and on behalf of its customers and business partners, and contact center services performed on behalf of its customers and business partners. Applicable sites include www.primecorporateservices.com, and other *.primecorporateservices.com sites. This statement describes how Prime Corporate Services collects, uses and discloses the information we collect through our websites and other service platforms.</p>

		<p>If you have questions or complaints regarding our privacy policy or practices, please contact us at support@primecorporateservices.com.</p>

		<h3>Collection of Information</h3>

		<p>Prime Corporate Services collects information from individuals who visit the web sites maintained by Prime Corporate Services and information submitted by visitors to register with the site or associated services/companies.  This may include information about your interest in and use of our web sites, product and services, and personal information that you voluntarily submit such as personal identification and contact information, including but not limited to a first and last name, a national identification number, an email address, postal or physical address, telephone number or other contact information, occupation or industry, and payment and billing information. With respect to visitors to our web sites, we only collect information that we believe to be relevant and required to provide an individual with requested information and services and to conduct our business.</p>

		<p>As part of the services we provide our customers and business partners, Prime Corporate Services also collects information under the direction of its customers and business partners, and has no direct relationship with the individuals whose personal data it processes.</p>

		<p>To help us provide our services and optimize our marketing efforts, Prime Corporate Services may supplement the data we collect with additional data received from third party sources.</p>

		<p>The submission of information, including personal information, is voluntary. With respect to information collected on behalf of our customers and business partners, we only collect information at the direction of those customers and business partners. Prime Corporate Services may collect and use such information for purposes that include but are not limited to those identified below.</p>

		<h3>How We Use Your Information</h3>

		<p>Prime Corporate Services may use your information for a number of purposes, including:</p>

			<ul>
				<li>Providing visitors (including contractors, customers and business partners) with access to websites and applications for which they have registered, as well as any services or support requested.</li>

				<li>Providing visitors with access to materials they have requested such as white papers, technical briefs, product/service offering demonstrations and other materials. Access to such materials may require that visitors provide information such as contact information, where they work, and what type of work they do.</li>

				<li>Sending visitors notices of events and other marketing information about Prime Corporate Services products and services such as promotions, events, seminars, webinars, podcasts, teleconferences or executive roundtables.</li>

				<li>Engaging in communications with visitors such as through telephone, email, web chat, SMS messaging, social media and other means when initiated or requested by visitors.</li>

				<li>Evaluating visitors who have applied for career opportunities or other Human Resources activities, such as by submitting information to the Prime Corporate Services Careers portion of its site.</li>

				<li>Conducting user surveys and other market research on visitors and Prime Corporate Services products and services.</li>

				<li>Gaining a better understanding of how the sites and our products and services perform and how they are used in order to maintain and improve them.</li>

				<li>As further provided in any supplement to this privacy policy or a contract with respect to specific Prime Corporate Services products or services.</li>

				<li>In accordance with our customers’ and business partners’ instructions to provide services to our customers and business partners. The use of information collected through our service platform, and third parties shall be limited to the purpose of providing the service for which customers or business partners have engaged Prime Corporate Services.</li>

				<li>Sending an automatic one-time email to a friend identified by a visitor inviting that him or her to visit the site. Prime Corporate Services does not store this information for additional purposes.</li>

				<li>We may also track non-personal information (also see Use of Cookies, Web Beacons and other Technologies in this Privacy Policy Statement). This includes standard information about your browser, IP address, and the number of times such content is accessed by a specific visitor. Prime Corporate Services collects this non-personal information in an effort to improve the quality of its website and also to answer questions, as well as improve delivery and quality of information to visitors of Prime Corporate Services' websites.</li>

				<li>Prime Corporate Services reserves the right to use or disclose information provided if required by law, or if we reasonably believe that use or disclosure is necessary to protect our rights.</li>
			</ul>

			<p>We may retain the personal information we collect through our websites and third parties, and the personal information we process on behalf of our customers and business partners through our platform, for as long as needed to provide our services. We may retain and use this personal information as necessary to comply with our legal obligations, resolve disputes, and enforce our agreements.</p>

			<h3>Prime Corporate Services Discussion Forums, Chat Rooms and Testimonials</h3>

			<p>If you participate in a Prime Corporate Services discussion forum, chat room or testimonial, you should be aware that the information you provide there may be made broadly available to others, potentially inside or outside Prime Corporate Services, who have access to that discussion forum, chat room or testimonial. Also, please recognize that individual forums and chat rooms may have additional rules and conditions. Each participant's opinion within a forum, chat room or testimonial is his or her own and should not be considered as reflecting the opinion of Prime Corporate Services.</p>

			<h3>Third Party Sites</h3>

			<p>Prime Corporate Services’ websites may, from time to time, provide links to other third party websites which are outside our control and not covered by this Policy and may be different from this Policy. You may wish to review the privacy policies posted on all referenced third party websites.</p>

			<p>We may link to third party content (e. g., promotions) that is sponsored by or co-branded with an identified third party. In these instances, the third party may obtain information that you voluntarily submit to participate in a site activity. Prime Corporate Services is not responsible for information collected by third parties in this manner, nor the collection or use of information by other sites to which the site is linked. In addition, our site may contain links to other sites whose information practices may be different than ours. You should consult the other sites' privacy notices, as we have no control over information that is submitted to, or collected by, these third parties.</p>

			<h3>Privacy of Minors and Children</h3>

			<p>Our websites do not and will not target and are not intended to solicit or attract children. Prime Corporate Services does not knowingly solicit personal information from children or send them requests for personal information. For the purposes of this document, children means anyone under the age of 13.</p>

			<h3>Disclosure of Information</h3>

			<p>We will share your personal information with third parties only in the ways that are described in this privacy statement.</p>

			<p>We may share the personal information of visitors to our corporate websites or trade shows with other companies so that they can market their products or services to you. If you do not want us to share your personal information with these companies, contact us at support@primecorporateservices.com</p>

			<p>We may also disclose your personal information:</p>

			<ul>
				<li>as required by law, such as to comply with a subpoena, or similar legal process</li>

				<li>when we believe in good faith that disclosure is necessary to protect our rights, protect your safety or the safety of others, investigate fraud, or respond to a government request.</li>

				<li>if Prime Corporate Services is involved in a merger, acquisition, or sale of all or a portion of its assets, you will be notified via email and/or a prominent notice on our website of any change in ownership or uses of your personal information, as well as any choices you may have regarding your personal information</li>

				<li>with our affiliates, subsidiaries or parent company for any of the purposes described in this policy.</li>
			</ul>

			<h3>Use of Service Providers</h3>

			<p>In some cases, Prime Corporate Services uses service providers, such as a payment processor, email provider or “live chat” provider, to collect, use, analyze and otherwise process information on its behalf. It is Prime Corporate Services' practice to require such third parties to handle information in a manner consistent with Prime Corporate Services policies. These third party companies are authorized to use the information only as necessary to provide these services.</p>

			<h3>Cookies, Web Beacons, IP Address Tracking and Other Technologies</h3>

			<p>We sometimes collect non-identifiable information from visits to our websites to help us provide better customer service. For example, we keep track of the domains from which people visit, and we also measure visitor activity on Prime Corporate Services Web sites, but we do so in ways that keep the information non-identifiable. This information is sometimes known as "clickstream data." Prime Corporate Services or others on Prime Corporate Services' behalf may use this data to analyze trends and statistics and to help us provide better customer service.</p>

			<p>Also, when we collect data, including personal data, from you in a transaction, we may extract some information about that transaction in a non-identifiable format and combine it with other non-identifiable information such as clickstream data. This information is used and analyzed only at an aggregate level to help us understand trends and patterns. This information is not reviewed at an individual level. If you do not want your transaction details used in this manner you can disable your cookies.</p>
			
			<p>We collect the information mentioned in the previous paragraphs through the use of various technologies such as scripts, beacons, tags, including "cookies." A cookie is a piece of data that a website can send to your browser, which may then be stored on your computer as an anonymous tag that identifies your computer but not you. Some Prime Corporate Services pages use cookies, sent by Prime Corporate Services or its third party vendors and customers, or other technologies to better serve you when you return to the website.</p>
			
			<p>You can set your browser to notify you before you receive a cookie, giving you the chance to decide whether to accept, or decline it. You can also set your browser to turn off cookies. If you do so, however, some features of our websites may not work optimally.</p>
			
			<p>Some Prime Corporate Services websites also use Web beacons or other technologies to better tailor those sites to provide better customer service. These technologies such as cookies, scripts, tags and beacons may be in use on a number of pages across Prime Corporate Services' websites and may be set by third party vendors. When a visitor accesses these pages, a non-identifiable notice of that visit is generated which may be processed by Prime Corporate Services, our customers, or by our suppliers. These Web beacons usually work in conjunction with cookies. If you don't want your cookie information to be associated with your visits to these pages, you can set your browser to turn off cookies. We do not have access or control over these third party technologies.</p>
			
			<p>If you turn off cookies, Web beacons and other technologies will still detect visits to these pages, but the notices they generate cannot be associated with other non-identifiable cookie information and are disregarded.</p>
			
			<p>When you visit Prime Corporate Services websites, we may also collect your Internet Protocol (“IP”) addresses to track and aggregate non-personal information, or to provide additional data protection. For example, we use IP addresses to monitor the regions from which visitors navigate our web sites.</p>
			
			<p>Third parties with whom we partner to provide certain features on our website or to display advertising based upon your web browsing activity also use HTML5 to collect and store information. Various browsers may offer their own management tools for removing HTML5.</p>
			
			<p>Our websites include Social Media Features, such as the Facebook Like button. These Features may collect your IP address, which page you are visiting on our site, and may set a cookie to enable the Feature to function properly. Social Media Features are either hosted by a third party or hosted directly on our Site. Your interactions with these Features are governed by the privacy policy of the company providing it.</p>

			<h3>Service Quality Monitoring</h3>

			<p>Certain transactions may also involve you contacting us, or Prime Corporate Services contacting you. Please be aware that it is Prime Corporate Services' general practice to monitor and in some cases record calls for training or quality assurance purposes.</p>

			<h3>Online Advertising</h3>

			<p>Prime Corporate Services may engage select companies to help us deliver interactive on-line advertising such as banner ads. These companies may collect and use information about site visitors, as described within the Cookies, Web Beacons and Other Technologies section above.</p>

			<h3>Data Security</h3>

			<p>We have security measures in place to help protect against the loss, misuse or alteration of information that we have collected from you. Prime Corporate Services also utilizes electronic and physical security controls to reduce the risk of improper access to or manipulation of information during transmission and storage. When sensitive information is submitted (such as login credentials) we encrypt the transmission of that information using secure socket layer technology (SSL).</p>

			<p>Prime Corporate Services complies with applicable laws and security standards. We transmit, store, protect and access all cardholder information in compliance with the Payment Card Industry's Data Security Standards.</p>

			<p>No method of transmission over the Internet, or method of electronic storage, is 100% secure. Therefore, we cannot guarantee its absolute security. Customers of Prime Corporate Services are responsible for maintaining the security and confidentiality of their usernames and passwords.</p>

			<h3>International Transfer of Information Collected and Safe Harbor</h3>

			<p>To facilitate Prime Corporate Services global operations, Prime Corporate Services may transfer, process and access data about Prime Corporate Services customers and users from around the world, including the United States. This Privacy Statement shall also apply if Prime Corporate Services transfers data about Prime Corporate Services customers to other countries. This only applies to customer that are outside of the United States.</p>

			<h3>Notification of Privacy Change</h3>

			<p>Prime Corporate Services reserves the right to change this Privacy Policy. A notice will be posted on our website home page whenever this Policy is changed in a material way. If we make any material changes we will notify you by email (sent to the email address specified in your account) or by means of a notice on this Site prior to the change becoming effective. We encourage you to periodically review this page for the latest information on our privacy practices.</p>

			<h3>Privacy Questions and Access</h3>

			<p>Prime Corporate Services has no direct relationship with the individuals whose personal data it processes on the behalf of its customers or business partners. An individual who seeks access, or who seeks to correct, amend, or delete inaccurate data should direct his query to Prime Corporate Services’ customer or business partner (the data controller). If the customer or business partner requests Prime Corporate Services to remove the data, we will respond to their request within 30 days. We may transfer personal information to companies that help us provide our service. Transfers to subsequent third parties are covered by the service agreements with our customer or business partner.</p>

			<p>If you would no longer like to be contacted by one of the customers or business partners that use our service, please contact the customer or business partner that you interact with directly.</p>

			<p>If you have a question about this statement, you can send an email to the Prime Corporate Services website coordinator at Prime Corporate Services. You can also contact us at this address if you have a question about Prime Corporate Services' handling of your information.</p>

			<p>If you have provided your personal information to Prime Corporate Services while on one of our websites and your personal information changes, or if you no longer desire our service, you may correct, update, amend, delete, or ask to have it removed from a public forum or testimonial on our site by contacting us at or via one of the methods listed below.  We will respond to your request to access within 30 days.</p>

			<p>Before Prime Corporate Services is able to provide you with any information or correct any inaccuracies, however, we may ask you to verify your identity and to provide other details to help us to respond to your request. We will endeavor to respond within an appropriate timeframe.</p>

			<p>This website is maintained by Prime Corporate Services, LLC.</p>
	</div>
</div>