
	<div class="review-container-style-entity">
	<h2>Entity Reviews</h2>
		<div class="row entity-row-review-styles">
			<div class="col-lg-4 entity-review-card-container-styles">
				<div class="card card-container-styles" style="width: 20rem;">
				  <img class="card-img-top review-pics" src="https://s3-us-west-2.amazonaws.com/primecorpservices/customerreviews2.jpg" alt="Card image cap">
				  <div class="card-block card-hover-entity">
				    <h4 class="card-title">Steve said-</h4>
				    <hr>
				    <p class="card-text">"I would like to express my appreciation for your expert guidance and knowledge of a small business owner in my early stages of development, you have kept your schedule and have responded to any questions I may have. I look forward to learning more from you in the coming year."</p>
				  </div>
				</div>
			</div>

			<div class="col-lg-4 entity-review-card-container-styles">
				<div class="card card-container-styles" style="width: 20rem;">
				  <img class="card-img-top review-pics" src="https://s3-us-west-2.amazonaws.com/primecorpservices/customerreview8.jpg" alt="Card image cap">
				  <div class="card-block card-hover-entity">
				    <h4 class="card-title">Ed</h4>
				    <hr>
				    <p class="card-text">"Lexie was very helpful in promptly completing and executing the paperwork necessary for the establishment of an LLC. She was very patient and helpful to an individual with zero experience with the process. Lexie responded immediately to any questions or concerns that I had about the LLC paperwork and explained everything clearly. The benefit I purchased allows me to establish multiple LLCs. Lexie was also prompt in assisting me with a 2nd business LLC. I highly recommend Lexie to any individual who desires a business contact who is competent, patient, friendly and readily accessible."</p>
				  </div>
				</div>
			</div>

			<div class="col-lg-4 entity-review-card-container-styles">
				<div class="card card-container-styles" style="width: 20rem;">
				  <img class="card-img-top review-pics" src="https://s3-us-west-2.amazonaws.com/primecorpservices/customerreviews3.jpg" alt="Card image cap">
					<div class="card-block card-hover-entity">
				    <h4 class="card-title">Sondra's review-</h4>
				    <hr>
				    <p class="card-text">"I have a small business now, and didn't know ninety percent of what was taught to me. I have to say, the step by step guidance as been easy to follow and doable."</p>
				  </div>
				</div>
			</div>
		</div>
	</div>
			  



	<div class="review-container-style-tax">
	<h2>Tax Reviews</h2>
		<div class="row tax-row-review-styles">
			<div class="col-lg-4 tax-review-card-container-styles">
				<div class="card card-container-styles" style="width: 20rem;">
				  <img class="card-img-top review-pics" src="https://s3-us-west-2.amazonaws.com/primecorpservices/customerreviews7.jpg" alt="Card image cap">
				  <div class="card-block card-hover-tax">
				    <h4 class="card-title">Look what JoAnn said- </h4>
				    <hr>
				    <p class="card-text">"I launched a new business last year. Signing up for the Prime Corporate Services Business Credit Program is one of the best and wisest choices I have made! This program has been a success as it has (1) started me on my way to increased benefits for my company, (2) provided savings on my business tax return, and (3) enabled me to establish credibility and independence for my company."</p>
				  </div>
				</div>
			</div>

			<div class="col-lg-4 tax-review-card-container-styles">
				<div class="card card-container-styles" style="width: 20rem;">
				  <img class="card-img-top review-pics" src="https://s3-us-west-2.amazonaws.com/primecorpservices/customereview6.jpg" alt="Card image cap">
				  <div class="card-block card-hover-tax">
				    <h4 class="card-title">Donna</h4>
				    <hr>
				    <p class="card-text">"Prime Corporate helped develop my business and are there to prepare my taxes and answer my financial questions. I would recommend Prime Corporate Services to anyone who needs assistance, no matter what their endeavor may be."</p>
				  </div>
				</div>
			</div>

			<div class="col-lg-4 tax-review-card-container-styles">
				<div class="card card-container-styles" style="width: 20rem;">
				  <img class="card-img-top review-pics" src="http://via.placeholder.com/350x325" alt="Card image cap">
				  <div class="card-block card-hover-tax">
				    <h4 class="card-title">Third Entity Review</h4>
				    <hr>
				    <p class="card-text">"Lorem ipsum dolor sit amet, donec massa ullamcorper mi erat nunc nonummy, pede libero aliquam, et neque sit eu interdum, ipsum magnis pede placerat arcu tellus ultrices, enim lacus interdum sed. Mus orci aliquam eget."</p>
				  </div>
				</div>
			</div>
		</div>
	</div>

	<div class="review-container-style-credit">
	<h2>Corporate Credit Reviews</h2>
		<div class="row credit-row-review-styles">
			<div class="col-lg-4 credit-review-card-container-styles">
				<div class="card card-container-styles" style="width: 20rem;">
				  <img class="card-img-top review-pics" src="https://s3-us-west-2.amazonaws.com/primecorpservices/customerreviews5.jpg" alt="Card image cap">
				  <div class="card-block card-hover-credit">
				    <h4 class="card-title">Brenda & Mike</h4>
				    <hr>
				    <p class="card-text">"With the help of this Business Credit Program & the superior guidance from Fred our coach, we were able to build up a business credit & financial stability in a very limited amount of time. We were uncertain how we were going to accomplish this, but with following the simple step by step approach, we now have the ability to obtain the financial security needed to grow our e-commerce business"</p>
				  </div>
				</div>
			</div>

			<div class="col-lg-4 credit-review-card-container-styles">
				<div class="card card-container-styles" style="width: 20rem;">
				  <img class="card-img-top review-pics" src="https://s3-us-west-2.amazonaws.com/primecorpservices/customerreviews1.jpg" alt="Card image cap">
				  <div class="card-block card-hover-credit">
				    <h4 class="card-title">Natalie's Review</h4>
				    <hr>
				    <p class="card-text">"This program has helped me begin the process of getting a separate credit score from my personal credit score which I had no idea how to do. Thank you!"</p>
				  </div>
				</div>
			</div>

			<div class="col-lg-4 credit-review-card-container-styles">
				<div class="card card-container-styles" style="width: 20rem;">
				  <img class="card-img-top review-pics" src="https://s3-us-west-2.amazonaws.com/primecorpservices/customerreviews4.jpg" alt="Card image cap">
				  <div class="card-block card-hover-credit">
				    <h4 class="card-title">David</h4>
				    <hr>
				    <p class="card-text">"Prime Corporate Services gave us easy-to-follow instructions and we were able to accomplish all items necessary to establish our business credit with companies that report to Dun & Bradstreet, which is an important part of a successful business plan. We would recommend Prime Corporate Services to anyone who is interested in developing a respected business credit rating."</p>
				  </div>
				</div>
			</div>
		</div>
	</div>
