<div class="carousel-item active">
  <img class="d-block img-fluid img1" src="<%= asset_path( 'taxmainimg' ) %>" alt="First slide"/>
    <div class="carousel-caption d-none d-block tax-img-text">
			<h1>Tax Service</h1>
			<p>Once an individual decides to become self-employed they enter unfamiliar ground with new tax rules and regulations.</p>
			<a href="/contact" class="btn btn-primary btn-md tax-btn2" role="button" aria-disabled="true">Get Started Today</a>
		</div>
</div>
