<body class="taxbody">
	<div class="carousel-item active">
	  <img class="d-block img-fluid img1" src="<%= asset_path( 'taxmainimg' ) %>" alt="First slide"/>
	    <div class="carousel-caption d-none d-block tax-img-text">
				<h1>Tax Service</h1>
				<p>Once an individual decides to become self-employed they enter unfamiliar ground with new tax rules and regulations.</p>
				<a href="/contact" class="btn btn-primary btn-md tax-btn2" role="button" aria-disabled="true">Get Started Today</a>
			</div>
	</div>

	<div class="conatiner">
		<div class="row tax-tow-information">
			<h2>Tax returns are important, but the information that is gathered to prepare the tax return becomes VITAL!</h2>
		</div>	
	</div>

	<div class="conatiner tax-text-styles">
		<div class="row tax-pic-styles">
			<div class="col-md-6">
			<h3>Why obtain an CPA?</h3>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
			<h3>Benefits of Service</h3>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
			</div>
			<div class="col-md-6">
				<%= image_tag('taxpagepic.jpg') %>
			</div>
		</div>
	</div>
</body>