<body class="taxbody">
	<div class="carousel-item active">
	  <img class="d-block img-fluid img1" src="https://s3-us-west-2.amazonaws.com/primecorpservices/taxmainimg.jpg" alt="First slide"/>
	    <div class="carousel-caption d-none d-block tax-img-text">
				<h1>Tax Service</h1>
				<p>Once an individual decides to become self-employed they enter unfamiliar ground with new tax rules and regulations.</p>
				<a href="/contact" class="btn btn-primary btn-md tax-btn2" role="button" aria-disabled="true">Get Started Today</a>
			</div>
	</div>

	<div class="conatiner">
		<div class="row tax-tow-information">
			<h2>Tax returns are important, but the information that is gathered to prepare the tax return becomes VITAL!</h2>
		</div>	
	</div>

	<div class="conatiner tax-text-styles">
		<div class="row tax-pic-styles">
			<div class="col-md-6">
				<h3>Why obtain an CPA?</h3>
				<p>Throughout the year obtaining answers to tax questions becomes a necessary tool for the proper completion of a tax return. There are many different tax codes and regulations that go into owning your own business. Depending on the type of business you’re running, there will be different codes that you are able to utilize as well. Once it is time to file your taxes for the year, there is a lot of information that goes into preparing your tax return if you want it done the right way. Studies have shown that the average home base business leaves $9400 a year on the table that they DO NOT take as home office deductions. Think about that for a second, that is solely based around tax codes and regulations missed that could been written off.</p>
				<h3>Benefits of Service</h3>
				<p>Our tax service has processed over 120,000 returns and we are also licensed in all 50 states! You will be able to consult professionals on tax issues and most of the financial accounting issues that can affect your business. Partner with qualified business advisors to help make the best tax and financial accounting decisions. Gain knowledge on how to properly set up and prepare your business taxes. You will learn how to file your tax forms for maximum benefits and lower your risk of being audited. Learn important information on how to reduce your taxable income. More importantly, learn about IRS communications and how to handle them when they come your way! </p>
			</div>
			
			<div class="col-md-6">
				<img class="d-block img-fluid img1" src="https://s3-us-west-2.amazonaws.com/primecorpservices/taxpagepic.jpg"/>
			</div>
		</div>
		<div class="row entity-btn-bottom">
	    <a href="/contact" class="btn btn-primary btn-md entity-btntax" role="button" aria-disabled="true">Get Started Today	</a>
	  </div>
	</div>
</body>