<body class="taxbody">
	<div class="carousel-item active">
	  <img class="d-block img-fluid img1" src="https://s3-us-west-2.amazonaws.com/primecorpservices/taxmainimg.jpg" alt="First slide"/>
	    <div class="carousel-caption d-none d-block tax-img-text">
				<h1>Tax Service</h1>
				<p>Once an individual decides to become self-employed they enter unfamiliar ground with new tax rules and regulations.</p>
				<a href="/contact" class="btn btn-primary btn-lg tax-btn2" role="button" aria-disabled="true">Get Started Today</a>
			</div>
	</div>

	<div class="conatiner">
		<div class="row tax-tow-information">
			<h2>Tax returns are IMPORTANT! The collective information that is gathered to prepare the tax return is imperatively VITAL!</h2>
		</div>	
	</div>

<div class="tax-center-content">
	<div class="container tax-text-styles">
		<div class="row tax-pic-styles">
			<div class="col-md-6">
				<h3>Why obtain a CPA?</h3>
				<ul>
					<li>Throughout the year, you will find that having your tax questions answered immediately is an essential tool for the proper preparation of a tax return.</li>
					<li>There are many different tax codes and regulations that apply to your business. There are many different businesses out there as well. It is important to have a clear understanding of which codes apply to you and more importantly, which do not!</li>
					<li>When the time to file your taxes comes, there is a substantial amount of processed information and collective efforts that go into the preparation if you want it done the right way.</li>
					<li>Studies have shown that the average home-based business forfeits 9,400 dollars per year in tax benefits due to lack of keeping proper records on known deductible expenses. If you think about that, this is solely based on tax codes and regulations that are avoided, undisclosed, or misinterpreted.</li>
				</ul>
			</div>
				<div class="col-md-6 tax-page-picture">
					<img class="d-block img-fluid tax-page-picture-actual" src="https://s3-us-west-2.amazonaws.com/primecorpservices/taxpagepic.jpg"/>
				</div>
			</div>
				<div class="col-md-12">
				<h3>Benefits of Service</h3>
					<ul>
						<li>Our tax service has processed over 120,000 returns as we are licensed in all 50 states!</li>
						<li>You will be able to consult professionals on tax and accounting issues that could potentially affect your business!</li>
						<li>Partner with qualified business advisors to AVOID the common tax and financial accounting ERRORS!</li>
						<li>You will learn how to file a combination of tax forms to maximize your benefits and mitigate the risk of being audited!</li>
						<li>Learn important information on how to reduce your taxable income!</li>
						<li>More importantly, learn about the IRS communications and how to handle them when they steer your way!</li>
					</ul>
				</div>
		<div class="row entity-btn-bottom">
	    <a href="/contact" class="btn btn-primary btn-lg entity-btntax" role="button" aria-disabled="true">Get Started Today	</a>
	  </div>
	</div>
</div>
</body>