<body class="traderbodypresentation">
	<div class="trader-textpres-style">
		<div class="row inner-tradertext-style">
			<h2><strong>Trading and Investing:</strong> Don't stress about the tax burden that comes along with trading and investing. There are solutions to this that don't include being a 'qualified' trader.</h2>
		</div>
	</div>

	<div class="trader-outside-container">
		<div class="trader-presentation-container">
			<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="500000">
			  <ol class="carousel-indicators">
			    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
			    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
			    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
			  </ol>
		  <div class="carousel-inner" role="listbox">
			  <div class="carousel-item active">
			    <img class="d-block img-fluid trader-presentation-container1" src="https://s3-us-west-2.amazonaws.com/primecorpservices/traderpresbackground.jpg" alt="First slide">
			   	  <div class="carousel-caption d-none d-md-block trader-slides1">
			    		<h1>Why 80% of Traders and Investors fail in the first 3 years</h1>
			    		<h5>
			    			<ol>
			    				<li><strong><em>Looking for a Holy Grail:</em></strong> Do not skip around from on method, system, indicator or ervice to the next. Trying to find instant gratification usually ends up in disappointment.</li>
			    				<li><strong><em>Not sticking to a plan:</em></strong> Without sticking to a plan, you start reacting to the market instead of anticipating the market. The market can be chaotic and confusing, specailly for someone without a specific plan of action.</li>
			    				<li><strong><em>Improper mind set:</em></strong> Humans are emotional creatures by nature, being emotional in an uncertain environment is never a good idea. Almost any book that you get a hold of on trading psychology will hit home the idea of more discipline and less emotion.</li>
			    				<li><strong><em>Improper trade size:</em></strong> Poor account sizing and risking too much per trade is a sure way to fail. You cannot think of trading as a sprint; it is more like a marathon, and a quite long one at that. You will lose trades here and there but it is how you handle those losses that counts.</li>
			    				<li><strong><em>Poor risk to reward ratio:</em></strong> The two reasons traders end up with a poor risk to reward is that they don't have a trading plan, and the can't hold their winners, but they hold their losers.</li>
			    				<li><strong><em>Over trading:</em></strong> If you're trading just for the sake of trading, then you are probably over trading. You have to be patient and trade when things line up for you and not trade everytime the market moves.</li>
			    				<li><strong><em>Not taking trading seriously:</em></strong> It is amazing that most people will not treat trading as they would with other money making endevours. They think if they read a couple of "for dummies" books and download some software that they are able to be successful.</li>
			    				<li><strong><em>Not having a successful mentor:</em></strong> Any successful trader once had a mentor, coach or service help them to formulate a plan and strategy to learn how to be successful in the trading world.</li>
			    			</ol>
			    		</h5>
			  		</div>
			  </div>
			  <div class="carousel-item">
			    <img class="d-block img-fluid trader-presentation-container1" src="https://s3-us-west-2.amazonaws.com/primecorpservices/traderpresbackground.jpg" alt="Second slide">
			    	<div class="carousel-caption d-none d-md-block trader-slides2">
			    		<h1>Obtaining Active Trader Status</h1>
			    		<h3>Here are the "Golden Rules" that you have to qualify for to obtain active trader status.</h3>
			    		<h5>
			    			<ul>
			    				<li>Trade full-time or part-time, all day, every day.</li>
			    				<li>Minimum 4 hours per day, average, working your trading business.</li>
			    				<li>No real lapses in activity. You trade all year long, like you’re working a full-time job.</li>
			    				<li>Trade on 75 percent or more of available trading days.</li>
			    				<li>You should be making 1,000 trades or more each year.</li>
			    				<li>Most of your trades should be day or swing trades</li>
			    				<li>Your demonstrated intent should be to make a living as a trader.</li>
			    				<li>You have invested heavily in tools, education, software, etc.</li>
			    				<li>You have a home office or dedicated office space outside the home.</li>
			    				<li>Your account size should be big relative to your overall assets.</li>
			    			</ul>
			    		</h5>
			    		<h5>Basically witha active trader status, you gain benefits on the tax side of everything. Without active trader status, if you have a net loss of over $3,000 you can only write off up to $3,000 of that net loss. Here at Prime we have a different solution to all of this, we do what is called setting up a dual entity.</h5>
			  		</div>
			  </div>
			  <div class="carousel-item">
			    <img class="d-block img-fluid trader-presentation-container1" src="https://s3-us-west-2.amazonaws.com/primecorpservices/traderpresbackground.jpg" alt="Third slide">
			    	<div class="carousel-caption d-none d-md-block trader-slides3">
			    		<h1>Dual Entity and how this is the solution for you!</h1>
			    		<h6>Each entity serves its purpose and they work harmoniously together as a team. The first entity is a limited partnership/LLC and will serve both as your trading vehicle and as an effective asset protection tool. The second entity is a corporation and is established to manage your limited partnership/LLC, and at the same time, allow you to utilize the flexible tax deductibility and fringe benefits a corporation enjoys.</h6>
			    		<h6>Under this structure, the limited partnership/LLC will be your primary medium to generate income since it is your trading vehicle. The gains realized from trading can be distributed to the individual partners. That would be you and whomever else you are in business with. The corporation serves as the manager of the limited partnership/LLC and earns a management fee and possibly guaranteed payments (if you so choose).</h6>
			    		<h6>The income from the limited partnership/LLC is taxed only at the individual level, so there is no worry about double taxation treatment for the corporation dividends. There is also no self-employment tax for this income. In addition, since you are no longer concerned with qualifying for the trader status, you may have other sources of income to supplement your livelihood. If you have trading losses from the limited partnership, these losses are passed on to the individual level and can be offset against your other passive income or carried forward.</h6>
			    		<h6>The corporation provides you with the flexibility of various deductions and fringe benefits otherwise not available for an individual taxpayer. Some of the largest are the medical reimbursement, dental and vision plans. These are 100% deductible fringe benefits that will substantially lower your cost of any medical expenses. In addition, expenses related to your business, such as office equipment, software, advice, educational publications, and seminars, etc. are all deductible as business operating expenses for the corporation. These expenses can be carried over the years and offset against the income the corporation receives; namely, the management fees and guaranteed payments.</h6>
			    		<h5>The dual entity gives us the ability to leverage write offs and losses without have to worry about the $3,000 cap.</h5>
			  		</div>
			  </div>
		  </div>
			  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
			    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			    <span class="sr-only">Previous</span>
			  </a>
			  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
			    <span class="carousel-control-next-icon" aria-hidden="true"></span>
			    <span class="sr-only">Next</span>
			  </a>
			</div>
		</div>
	</div>
</body>