<body class="tradersbody">	
	<div class="carousel-item active traders">
  	<img class="d-block img-fluid img1" src="https://s3-us-west-2.amazonaws.com/primecorpservices/tradersmanpic.jpg" alt="First slide"/>
    <div class="carousel-caption d-none d-block traders-img-text">
			<h1>Business Traders and Investors</h1>
			<p>Servicing those individuals investing in the financial markets. Whether you are a trader or an investor, we have the solution for you!</p>
			<a href="/contact" class="btn btn-primary btn-lg traders-btn2" role="button" aria-disabled="true">Get Started Today</a>
		</div>
	</div>


		<div class="row traders-divtext">
			<h2>Do not be fooled on concepts that falsely reduce your tax burden on your returns from the market! There are legal ways of getting this done!</h2>
		</div>


	<div class="container traders-body-container">
		<h4>The solution for reducing your taxes in the market is to set up a dual entity. Each entity serves its own purpose, both of which are vital to your success!</h4>
		<hr>
			<div class="row traders-row">
				<div class="col-md-6 traders-text-columns">
					<h1>LLC</h1>
					<hr>
					<p>The main function for the LLC is its usage as your trading vehicle; this will be used to generate income. It is set up to solely trade and is used as a legal filter to protect the money in the market and eliminates tax implications on an individual trading platform.</p>
				</div>
				<div class="col-md-6">
					<img class="d-block img-fluid img1" src="https://s3-us-west-2.amazonaws.com/primecorpservices/tradingbackground2.jpg"/>
				</div>
			</div>

			<div class="row traders-row">
				<div class="col-md-6">
					<img class="d-block img-fluid img1" src="https://s3-us-west-2.amazonaws.com/primecorpservices/traderpagebackground3.jpg"/>
				</div>
				<div class="col-md-6 traders-text-columns">
					<h1>Corporation</h1>
					<hr>
					<p>The corporation will serve as the entity with the parental rights. It will regulate the vehicles activity. It indirectly inherits all the deductions that most people do not think about. We will teach you how to leverage the tool and aggressively capitalize on the undisclosed tax benefits that could potentially eliminate your tax burden.</p>
				</div>
			</div>
			<hr>
		<h4>It is important to know that there are many more specifics related to the dual entity structure that will be explained prior to setting it up. Get in contact with us and we will be able to help you get this going the right way!</h4>

		<div class="row entity-btn-bottom">
    	<a href="/contact" class="btn btn-primary btn-lg traders-btn3" role="button" aria-disabled="true">Get Started Today</a>
  	</div>
	</div>
</body>		