	<div class="carousel-item active traders">
  	<img class="d-block img-fluid img1" src="https://s3-us-west-2.amazonaws.com/primecorpservices/tradersmanpic.jpg" alt="First slide"/>
    <div class="carousel-caption d-none d-block traders-img-text">
			<h1>Business Traders and Investors</h1>
			<p>Servicing those individuals investing in the financial markets. Whether you are a trader or an investor, we have the solution for you!</p>
			<a href="/contact" class="btn btn-primary btn-md traders-btn2" role="button" aria-disabled="true">Get Started Today</a>
		</div>
	</div>


		<div class="row traders-divtext">
			<h2>Don't be fooled on the ways of reducing your tax burden on your returns from the market! There are now legal ways of getting this done to benefit you!</h2>
		</div>


	<div class="container traders-body-container">
		<div class="row traders-row">

			<p>The solution is to set up a dual entity structure. Each entity serves its purpose and they work harmoniously together as a team. The first entity is a limited partnership/LLC and will serve both as your trading vehicle and as an effective asset protection tool. The second entity is a corporation and is established to manage your limited partnership/LLC, and at the same time, allow you to utilize the flexible tax deductibility and fringe benefits a corporation enjoys.</p>

			<p>Under this structure, the limited partnership/LLC will be your primary medium to generate income since it is your trading vehicle. The gains realized from trading can be distributed to the individual partners. That would be you and whomever else you are in business with. The corporation serves as the manager of the limited partnership/LLC and earns a management fee and possibly guaranteed payments (if you so choose).</p>

			<p>The income from the limited partnership/LLC is taxed only at the individual level, so there is no worry about double taxation treatment for the corporation dividends. There is also no self-employment tax for this income. In addition, since you are no longer concerned with qualifying for the trader status, you may have other sources of income to supplement your livelihood. If you have trading losses from the limited partnership, these losses are passed on to the individual level and can be offset against your other passive income or carried forward.</p>

			<p>The corporation provides you with the flexibility of various deductions and fringe benefits otherwise not available for an individual taxpayer. Some of the largest are the medical reimbursement, dental and vision plans. These are 100% deductible fringe benefits that will substantially lower your cost of any medical expenses. In addition, expenses related to your business, such as office equipment, software, advice, educational publications, and seminars, etc. are all deductible as business operating expenses for the corporation. These expenses can be carried over the years and offset against the income the corporation receives; namely, the management fees and guaranteed payments.</p>

			<p>If you find that trading is not for you and you have losses in the corporation when you shut down, so long as a good organization (like Prime) prepared the documents properly, you will be able to write off the losses against your ordinary income at that time without having to worry about the $3,000 passive loss limitation. In other words, you will still ultimately receive the tax benefits of the structure even if it fails!</p>

			<p>It is important to know that there are many more specifics related to the dual entity structure that must be explained prior to setting it up. We encourage you to speak with one of our representatives today to assist you.</p>
		</div>
	</div>	