@import "bootstrap";
@import "gritter";
@import "font-awesome-sprockets";
@import "font-awesome";


.app-nav-conatiner {
	background-color: #f6f6f6;
	width: 100%;
}

.app-nav-conatiner-links {
	margin-left: 50px;
}

.app-nav-conatiner-links li {
	padding-right: 10px;
}

.navbar-brand {
	font-size: 1.8em;
	padding-top: 5px;
}

.nav-link-dropdown {
	border: none;
	background-color: #f6f6f6;
	color: #7b7b7b;
	font-size: 1em;
	margin-top: 2px;
}

.navbar-light .navbar-nav .nav-link.active {
	color: #2381c4;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: #2381c4;
}

.footer-text {
	text-align: center;
	background-color: #f6f6f6;
	padding-top: 15px;
}

.logo-img {
	height: 60px;
	width: 200px;
}
