 /*Carousel styles start*/

/*.carousel .carousel-inner img {
  width: 100%;
  height: 30em;
  object-fit: cover;
  overflow: hidden;
}*/

@mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
  $responsive-unitless: $responsive / ($responsive - $responsive + 1);
  $dimension: if(unit($responsive) == 'vh', 'height', 'width');
  $min-breakpoint: $min / $responsive-unitless * 100;
  
  @media (max-#{$dimension}: #{$min-breakpoint}) {
    font-size: $min;
  }
  
  @if $max {
    $max-breakpoint: $max / $responsive-unitless * 100;
    
    @media (min-#{$dimension}: #{$max-breakpoint}) {
      font-size: $max;
    }
  }
  
  @if $fallback {
    font-size: $fallback;
  }
  
  font-size: $responsive;
}

.active {
	position: relative;
}

.img1 {
	/*min-width: 100%;
	height: 500px;*/
	width: 100%;
  height: 30em;
  object-fit: cover;
  overflow: hidden;
}

.img2 {
	width: 540px;
}

.picture-text-entity {
	color: #83be41;  
	margin-bottom: 125px;
	background-color: rgba(0,0,0,0.6);
	padding: 15px;
	border-radius: 10px;
	@include responsive-font(3vw, 10px, 20px);
}

.picture-text-entity h1 {
	@include responsive-font(7vw, 20px, 40px);
}

.picture-text-entity p {
	font-size: 1.3em;
}

.entity-btn {
	background-color: #83be41; 
	border: none;
}

.entity-btn:hover {
	background-color: black; 
	color: #83be41;
}



.picture-text-tax {
	color: #2CAFE3; 
	margin-bottom: 125px;
	background-color: rgba(0,0,0,0.6);
	padding: 15px;
	border-radius: 10px;
	@include responsive-font(3vw, 10px, 20px);
}

.picture-text-tax h1 {
	@include responsive-font(7vw, 20px, 40px);
}

.picture-text-tax p {
	font-size: 1.3em;
}

.tax-btn {
	background-color: #2CAFE3;
	border: none;
}

.tax-btn:hover {
	background-color: black;
	color: #2381c4;
}



.picture-text-corporate-credit {
	color: #f7941e; 
	margin-bottom: 125px;
	background-color: rgba(0,0,0,0.6);
	padding: 15px;
	border-radius: 10px;
	@include responsive-font(3vw, 10px, 20px);
}

.picture-text-corporate-credit p {
	font-size: 1.3em;
}

.picture-text-corporate-credit h1 {
	@include responsive-font(7vw, 20px, 40px);
}

.corporate-credit-btn {
	background-color: #f7941e;
	border: none;
}

.corporate-credit-btn:hover {
	background-color: black;
	color: #f7941e;
}

.picture-text-estate {
	color: white;  
	margin-bottom: 125px;
	background-color: rgba(0,0,0,0.6);
	padding: 15px;
	border-radius: 10px;
	@include responsive-font(3vw, 10px, 20px);
}

.picture-text-estate h1 {
	@include responsive-font(7vw, 20px, 40px);
}

.picture-text-estate p {
	font-size: 1.3em;
}

.estate-btn {
	background-color: black; 
	border: none;
	color: white;
}

.estate-btn:hover {
	background-color: black; 
}

.traders-investors-btn {
	 background-color: #FC4441;
	 border: none;
	 
}

.traders-investors-btn:hover {
	background-color: black;
	color: #FC4441;
}

.traders-investors-picture-text {
	margin-bottom: 125px;
	color: #FC4441;
	background-color: rgba(0,0,0,0.6);
	padding: 15px;
	border-radius: 10px;
	@include responsive-font(3vw, 10px, 20px);
}

.traders-investors-picture-text h1 {
	@include responsive-font(7vw, 20px, 40px);
}

.traders-investors-picture-text p {
	font-size: 1.3em;
}

/*carousel styles end*/


/*Home page Styles*/

.quote-text {
	padding: 30px;
	text-align: center;
}

.quote-btn {
	border: none;
  animation: colorchange 25s infinite; /* animation-name followed by duration in seconds*/
     /* you could also use milliseconds (ms) or something like 2.5s */
  -webkit-animation: colorchange 25s infinite; /* Chrome and Safari */
}

@keyframes colorchange
{
  0%   {background: #83be41;}
  25%  {background: #2381c4;}
  50%  {background: #f7941e;}
  75%  {background: #FC4441;}
  100%  {background: black;}
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
{
  0%   {background: #83be41;}
  25%  {background: #2381c4;}
  50%  {background: #f7941e;}
  75%  {background: #FC4441;}
  100%  {background: black;}

}

.quote-btn1 {
	margin-bottom: 25px;
	border: none;
  animation: colorchange 25s infinite; /* animation-name followed by duration in seconds*/
     /* you could also use milliseconds (ms) or something like 2.5s */
  -webkit-animation: colorchange 25s infinite; /* Chrome and Safari */
}

@keyframes colorchange
{
  0%   {background: #83be41;}
  25%  {background: #2381c4;}
  50%  {background: #f7941e;}
  75%  {background: #FC4441;}
  100%  {background: black;}
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
{
  0%   {background: #83be41;}
  25%  {background: #2381c4;}
  50%  {background: #f7941e;}
  75%  {background: #FC4441;}
  100%  {background: black;}

}

.tax-tips-main {
	width: 100%;
	background-color: #f6f6f6;
	padding: 60px;
}

.tax-tips-text {
	text-align: center;
}

.tax-tips-img-top {
	width: 100%;
	margin-bottom: 10px;
}

.tax-tips-img-bottom {
	width: 100%;
	height: 240px;
	margin-top: 10px;
}

.tax-tips-img-top2 {
	width: 55%;
	margin-bottom: 10px;
}

.review-head {
	text-align: center;
	width: 100%;
	padding-top: 25px;
}

.review-body {
	padding: 15px;
	margin-bottom: 25px;
}

/*.review-hover:hover {
	background-color: #f6f6f6;
	padding: 20px;
}*/

/*End of Home page styles*/

/*Start of entity styles*/

.entitypagebody {
	background-color: #83be41;
}

.entity-img {
	width: 100%;
	height: 500px;
}

.entity-img-text {
	color: #83be41; 
	margin-bottom: 125px;
	text-align: left;
	background-color: rgba(0,0,0,.7);
	border-radius: 10px;
	padding: 25px;
}

.entity-img-text h1 {
	@include responsive-font(7vw, 20px, 40px);
}

.entity-img-text p {
	font-size: 1.3em;
	margin-top: 15px;
  margin-bottom: 15px;
  @include responsive-font(3vw, 15px, 25px);
}

.entity-btn2 {
	background-color: #83be41; 
	border: none;
}

.entity-btn2:hover {
	background-color: black; 
}

.entity-btn3 {
	margin-bottom: 45px;
	background-color: black; 
	border: none;
}

.entity-btn-bottom {
	justify-content: center;
}

.entity-btn-bottom a:hover {
}

.entity-btn3:hover {
	background-color: black;
	color: #83be41;
}

.video-title {
	padding: 50px;
	color: #83be41;
	text-align: center;
	background-color: #f6f6f6;
}

.main-container {
	margin-bottom: 50px;
}

.main-container h2 {
	@include responsive-font(5vw, 15px, 35px);
}

.entity-icon-size {
	font-size: 8.3em;
}

.entity-service-container-left {
	text-align: center;
	padding-right: 20px;
	margin-bottom: 75px;
}

.entity-service-container-left h2 {
	margin-top: 20px;
}

.entity-service-container-left p {
	font-size: 1.2em;
}

.entity-service-container-low {
	text-align: center;
	margin-top: 75px;
	padding-bottom: 25px;
}

.entity-service-container-low h2 {
	margin-top: 20px;
}

.entity-service-container-low p {
	font-size: 1.2em;
}

.entity-service-container-right {
	text-align: center;
	padding-left: 20px;
	margin-bottom: 75px;
}

.entity-service-container-right h2 {
	margin-top: 20px;
}

.entity-service-container-right p {
	font-size: 1.2em;
}

/*.entity-service-container-low:hover {
	background-color: #f6f6f6;
	margin-bottom: 75px;
	padding-top: 25px;
	border-radius: 10px;
}

.entity-service-container-right:hover {
	background-color: #f6f6f6;
	margin-bottom: 150px;
	padding: 25px;
	border-radius: 10px;
}

.entity-service-container-left:hover {
	background-color: #f6f6f6;
	margin-bottom: 150px;
	padding: 25px;
	border-radius: 10px;
}*/

.entity-padding-row {
	padding-right: 75px;
	padding-left: 75px;
}
/*End of Entity Styles*/

/*Start of Tax styles*/

.taxbody {
	background-color: #2CAFE3;
}

.tax-img-text {
	color: #2CAFE3;
	margin-bottom: 125px;
	text-align: left;
	background-color: rgba(0,0,0,.7);
	border-radius: 10px;
	padding: 25px;
}

.tax-img-text p {
	font-size: 1.3em;
	margin-top: 15px;
  margin-bottom: 15px;
  @include responsive-font(3vw, 15px, 25px);
}

.tax-img-text h1 {
	@include responsive-font(7vw, 20px, 40px);
}

.tax-btn2 {
	background-color: #2CAFE3;
	border: none;
}

.tax-btn2:hover {
	background-color: black; 
}

.entity-btntax {
	background-color: black;
	border: none;
	margin-top: 25px;
}

.entity-btntax:hover {
	background-color: black;
	color: #2381c4;
}

.tax-tow-information {
	color: #2CAFE3;
	text-align: center;
	background-color: #f6f6f6;
	padding: 50px;
}

.tax-tow-information h2 {
	@include responsive-font(5vw, 15px, 35px);
}

.tax-center-content {
	margin-top: 75px;
	margin-bottom: 75px;
}

.tax-text-styles {
	margin: 0 auto;
  padding: 50px;
	background-color: #f6f6f6;
	max-width: 100%;
}

.tax-page-picture-actual {
	height: 650px;
}

.tax-page-picture {
	margin-top: 75px;
}

/*end of tax styles*/

/*Start of credit styles*/

.corpcreditbody {
	background-color: #f7941e;
}

.credit-img-text {
	color: #f7941e; 
	margin-bottom: 125px;
	text-align: left;
	background-color: rgba(0,0,0,.7);
	border-radius: 10px;
	padding: 25px;
}

.credit-img-text h1 {
	@include responsive-font(7vw, 20px, 40px);
}

.credit-img-text p {
	font-size: 1.3em;
	margin-top: 15px;
  margin-bottom: 15px;
  @include responsive-font(3vw, 15px, 25px);
}

.credit-btn2 {
	background-color: #f7941e;
	border: none;
}

.credit-btn2:hover {
	background-color: black; 
}

.entity-btncredit {
	margin-top: 50px;
	background-color: black;
	border: none;
}

.entity-btncredit:hover {
	background-color: black;
	color: #f7941e;
}

.corp-credit-divtext {
	color: #f7941e;
	background-color: #f6f6f6;
	padding: 50px;
	text-align: center;
}

.corp-credit-divtext h2 {
	@include responsive-font(5vw, 15px, 35px);
}

.card-margin-credit-page {
	margin: 0 auto;
}

.corp-credit-cardimg-style {
	height: 300px;
}

.credit-page-margin {
}

.corp-credit-mainrow-styles {
}

.corp-credit-container-styles {
	text-align: center;
	padding: 50px;
}

/*End of credit styles*/




/*Start of estate styles*/

.estatebody {
	background-color: #9A9A9D;
}

.estate-img {
	width: 100%;
	height: 500px;
}

.estate-img-text {
	color: white; 
	margin-bottom: 125px;
	text-align: left;
	background-color: rgba(0,0,0,.7);
	border-radius: 10px;
	padding: 25px;
}

.estate-img-text h1 {
	@include responsive-font(7vw, 20px, 40px);
}

.estate-img-text p {
	font-size: 1.3em;
	margin-top: 15px;
  margin-bottom: 15px;
  @include responsive-font(3vw, 15px, 25px);
}

.estate-btn2 {
	background-color: black; 
	border: none;
}

.estate-btn2:hover {
	background-color: #a6a6a6; 
}

.entity-btnestate {
	margin-top: 25px;
	margin-bottom: 25px;
	background-color: black;
	border: none;
}

.entity-btnestate:hover {
	background-color: black;
	color: #9A9A9D;
}

.estate-page-text-title {
	padding: 50px;
	color: black;
	text-align: center;
	background-color: #f6f6f6;
}

.estate-page-text-title h2 {
	@include responsive-font(5vw, 15px, 35px);
}

.estate-container {
	background-color: #f6f6f6;
	margin-top: 50px;
	margin-bottom: 50px;
}

.estate-pagetext p {
	font-size: 1.3em;
}

.estate-pagetext1 p {
	font-size: 1.2em;
}

.estate-picpage-styles1 img {
	width: 500px;
 /*margin-left: -75px;*/
}

.estate-picpage-styles img {
	justify-content: right;
	width: 500px;
 /*margin-left: -75px;*/
}

.main-estate-style-row {
	text-align: center;
	padding: 50px;
}

/*End of estate styles*/

/*Start of traders and investors styles*/

.tradersbody {
	background-color: #FC4441;
}

.traders-img-text {
	color: #f6f6f6; 
	margin-bottom: 125px;
	text-align: left;
	background-color: rgba(0,0,0,.7);
	border-radius: 10px;
	padding: 25px;
}

.traders-img-text h1 {
	@include responsive-font(7vw, 20px, 40px);
}

.traders-img-text p {
	font-size: 1.3em;
	margin-top: 15px;
  margin-bottom: 15px;
  @include responsive-font(3vw, 15px, 25px);
}

.traders-btn2 {
	background-color: #f6f6f6;
	border: none;
	color: black;
}

.traders-btn2:hover {
	background-color: black;
	border: none;
	color: #f6f6f6;

}

.traders-body-container {
	color: white;
	background-color: rgba(0,0,0,0.5);
	margin-top: 75px;
	margin-bottom: 75px;
	padding: 25px;
	text-align: center;
	border-radius: 5px;
}

.traders-row {
	justify-content: center;
	padding: 0px 50px 0pc 50px;
}

.traders-divtext {
	color: black;
	background-color: #f6f6f6;
	padding: 50px;
	text-align: center;
}

.traders-divtext h2 {
	@include responsive-font(5vw, 15px, 35px);
}

.traders-text-columns {
	font-size: 1.3em;
	text-align: center;
	margin-top: 125px;
}

.traders-btn3 {
	background-color: black;
	border: none;
	margin-top: 15px;
}

.traders-btn3:hover {
	color: #FC4441;
	background-color: black; 
}
/*End of traders and investors styles*/



/*Start of review styles*/



.review-container-style-entity {
	text-align: center;
	background-color: #2B82C0;
	padding: 50px;
}

.entity-row-review-styles {
	justify-content: center;
}

.entity-review-card-container-styles {
	margin-top: 50px;
}

.card-container-styles {
	margin: 0 auto;
}

.review-container-style-tax {
	text-align: center;
	background-color: #F59332;
	padding: 50px;
}

.tax-row-review-styles {

}

.tax-review-card-container-styles {
	margin-top: 50px;
}

.review-container-style-credit {
	text-align: center;

	background-color: #84BC4A;
	padding: 50px;
}


.credit-review-card-container-styles {
	margin-top: 50px;
}

.review-pics {
	width: 100%;
}

/*End of review styles*/

/*Start of new review styles!!!!!*/

.review-form-container {
	padding-top: 75px;
	padding-bottom: 75px;
}

.inner-card-spacing-reviews {
	padding: 25px;
	background-color: #d9d9d9;
}

.new-body {
	background-color: black;
}

.review-field-styles {
	margin-bottom: 25px;
	text-align: center;
}

.form-btn-reviews {
	background-color: black;
	border: none;
}

.review-button-home-page {
	margin-bottom: 15px;
}

.review-card-styles {
	background-color: #d9d9d9;
	margin-bottom: 50px;
	margin-top: 50px;
}

.leave-review-button {
	width: 50%;
	background-color: black;
	border: none;
	margin-top: 25px;
}

.leave-review-button-bottom {
	width: 50%;
	background-color: black;
	border: none;
	margin-bottom: 25px;
}

.leave-review-button-container1 {
	text-align: center;
	margin-bottom: 25px;
	margin-top: 25px;
}

.leave-review-button-container2 {
	text-align: center;
	margin-bottom: 25px;
	margin-top: 25px;
}

.average-rating {
	text-align: center;
	margin-top: 50px;
	background-color: #d9d9d9;
	padding: 20px;
	border-radius: 10px;
}

.index-body {
	background-image: url("logobackground.jpg");
	background-size: 1000px, auto, contain;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

.rating-style-in-cards1 {
	text-align: center;
	margin-top: 50px;
}

.rating-style-in-cards2 {
	text-align: center;
}

.showpage-body {
	background-color: black;
}
/*End of new review styles!!!*/




/*Start of about styles*/

.aboutbody {
 background: url('https://s3-us-west-2.amazonaws.com/primecorpservices/aboutpagebackground.jpg') center no-repeat;
 width: 100%;
}

.aboutpage-container {
	background-color: rgba(0,0,0,0.8);
	margin-top: 50px;
	margin-bottom: 50px;
	border-radius: 5px;
}

.inner-aboutpage-row {
	padding: 50px;
	color: white;
}

/*End of about styles*/






/*Start of contact styles*/

.contact-body {
	background-color: #9A9A9D;
}

.google-maps {

	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;

}

.google-maps-row {
	
}

.card-styles {
	background-color: #f6f6f6;
}

.maps-styles {
	border: 1px solid #d7d7d7;
	border-radius: 3px;
	width: 520px;
	height: 555px;
}

.row-consultation-styles {

	margin-top: 50px;
}

.consultation-styles {
	border: 2px solid #d7d7d7;
	background-color: #f6f6f6;
	margin-top: 25px;
	text-align: center;
	padding: 25px 25px 15px 25px;
	margin-bottom: 25px;
	border-radius: 5px;
}

.consultation-header {
	padding-bottom: 15px;
}

.review-card-styles-show{
	background-color: #D9D9D9
}

.show-page-review-container {
	padding-top: 150px;
	padding-bottom: 150px;
}

/*End of contact styles*/




/*Start of terms styles*/

.terms-page {
	background-color: rgba(0,0,0,0.7);
	margin-top: 50px;
	margin-bottom: 50px;
	border-radius: 5px;
}

.terms-row {
	color: white;
	padding: 50px;
}

/*End of terms styles*/





/*Start of privacy styles*/

.privacy-container {
	
}

/*End of privacy styles*/





/*Start of devise styles*/

.login-style {
	margin-top: 50px;
}

.inner-login-style {
	background-color: #f6f6f6;
	margin-bottom: 50px;
}

.auth-links a {
	color: black;
}

.login-btn-style:hover {
	background-color: black;
}
/*End of devise styles*/


/*Start of presentation page styles*/
/*Start of entity presentation*/
.presentation-container {
	height: 600px;
	width: 100%;
/*	margin-top: 50px;
	margin-bottom: 50px;*/
}

.presentation-container3 {
	height: 600px;
	width: 100%;
}

.presentation-container0 {
	background-color: #d9d9d9;
	padding: 50px;
	width: 100%;
/*	margin-top: 50px;
	margin-bottom: 50px;*/
}

.presentation-container1 {
	width: 100%;
	padding: 50px;
	/*margin-top: 50px;
	margin-bottom: 50px;*/
}

.corp-credit-presentation {
	color: white;
	background-color: black;
	padding: 60px;
}

.entity-header-presentation {
	padding: 60px;
	background-color: black;
	color: white;
}

.corp-background-presentation {
	background-color: #d9d9d9;
}

/*End of entity presentation*/
/*Start of tax presentation*/

.tax-textpres-style {
	background-color: #2CAFE3;
	width: 100%
}

.inner-taxtext-style {
	padding: 35px 50px 35px 50px;
}

.tax-outside-container {
	background-color: #2CAFE3;
	width: 100%;
}

.tax-presentation-container0 {

}

.tax-presentation-container {
	height: 600px;
	width: 100%;
	margin-top: 75px;
	margin-bottom: 75px;
}

.carousel-control-prev-icon {
	background-color: black;
}

.carousel-control-next-icon {
	background-color: black;
}
/*End of tax page styles*/

.estate-textpres-style {
	background-color: #84BC4A;
	width: 100%;
}

.inner-estatetext-style {
	padding: 35px 50px 35px 50px;
}

.estate-outside-container {
	background-color: #84BC4A;
	width: 100%
}

.estate-presentation-container {

}

.estate-presentation-container1 {
	height: 600px;
	width: 100%;
	margin-top: 75px;
	margin-bottom: 75px;
}


/*start of traders pres page*/

.traderbodypresentation {
	background-color: #FC4441;
}

.trader-textpres-style {
	background-color: #FC4441;
	width: 100%;
}

.inner-tradertext-style {
	padding: 35px 50px 35px 50px;
}

.trader-outside-container {
	background-color: #FC4441;
	width: 100%
}

.estate-presentation-container {

}

.trader-presentation-container1 {
	height: 600px;
	width: 100%;
	margin-top: 75px;
	margin-bottom: 75px;
}
/*End of presentation page styles*/

/*Individual entity slide text styles*/
.carousel-indicators li {
  background-color: #999;
  background-color: rgba(70,70,70,.25);
}

.carousel-indicators .active {
  background-color: #444;
}


.entity-slide1 {
	margin-bottom: 65px;
	background-color: rgba(0,0,0,0.7);
	color: white;
	border-radius: 25px;
	padding: 25px;
}

.entity-slide1 h1 {
}

.entity-slide1 h2 {
 margin-top: 75px;
}

.entity-slide1 h4 {
	margin-top: 75px;
}



.entity-slide2 {
 	text-align: left;
	margin-bottom: 175px;
	background-color: rgba(0,0,0,0.7);
	padding: 25px;
	border-radius: 25px;
}

.entity-slide2 h3 {

}

.entity-slide2 p {

}



.entity-slide3 {
  text-align: left;
	margin-bottom: 150px;
	background-color: rgba(0,0,0,0.7);
	padding: 25px;
	border-radius: 25px;
}

.entity-slide3 h3 {

}

.entity-slide3 p {

}



.entity-slide4 {
	text-align: left;
	margin-bottom: 125px;
	background-color: rgba(0,0,0,0.7);
	padding: 25px;
	border-radius: 25px;
}

.entity-slide4 h3 {

}

.entity-slide4 p {

}



.entity-slide5 {
	text-align: left;
	margin-bottom: 100px;
	background-color: rgba(0,0,0,0.7);
	padding: 25px;
	border-radius: 25px;
}

.entity-slide5 h3 {

}

.entity-slide5 p {

}



.entity-slide6 {
	text-align: left;
	margin-bottom: 125px;
	background-color: rgba(0,0,0,0.7);
	padding: 25px;
	border-radius: 25px;
}

.entity-slide6 h3 {

}

.entity-slide6 p {

}




.entity-slide7 {
	text-align: left;
	margin-bottom: 150px;
	background-color: rgba(0,0,0,0.7);
	padding: 25px;
	border-radius: 25px;
}

.entity-slide7 h3 {

}

.entity-slide7 p {

}




.entity-slide8 {
	text-align: left;
	margin-bottom: 100px;
	background-color: rgba(0,0,0,0.7);
	padding: 25px;
	border-radius: 25px;
}

.entity-slide8 h3 {

}

.entity-slide8 p {

}



.entity-slide9 {
	text-align: left;
	margin-bottom: 175px;
	background-color: rgba(0,0,0,0.7);
	padding: 25px;
	border-radius: 25px;
}

.entity-slide9 h3 {

}

.entity-slide9 p {

}



.entity-slide10 {
	text-align: left;
	margin-bottom: 225px;
	background-color: rgba(0,0,0,0.7);
	padding: 25px;
	border-radius: 25px;
}

.entity-slide10 h3 {

}

.entity-slide10 p {

}



.credit-slide1 {
	color: black;
	margin-bottom: 25px;
	background-color: rgba(0,0,0,0.7);
	color: white;
	padding: 25px;
	border-radius: 25px;
}

.credit-slide1 h1 {
	margin-bottom: 30px;
	
}

.credit-slide1 h3 {
	margin-top: 25px;
}

.credit-slide1 h5 {
	margin-top: 25px;
	
}




.credit-slide2 {
	text-align: left;
	margin-bottom: 150px;
	background-color: rgba(0,0,0,0.7);
	padding: 25px;
	border-radius: 25px;
}




.credit-slide3 {
	text-align: left;
	margin-bottom: 100px;
	background-color: rgba(0,0,0,0.7);
	padding: 25px;
	border-radius: 25px;
}




.credit-slide4 {
	text-align: left;
	margin-bottom: 75px;
	background-color: rgba(0,0,0,0.7);
	padding: 25px;
	border-radius: 25px;

}




/* End of Individual entity slide text styles*/

/*--------------------------------------------------------------------*/

/*Start of tax slide text styles*/

.tax-slides1 {
	text-align: left;
	margin-bottom: 75px;
	background-color: rgba(0,0,0,0.7);
	padding: 25px;
	border-radius: 25px;
}





.tax-slides2 {
		text-align: left;
	margin-bottom: 200px;
	background-color: rgba(0,0,0,0.7);
	padding: 25px;
	border-radius: 25px;
}




.tax-slides3 {
	text-align: left;
	margin-bottom: 175px;
	background-color: rgba(0,0,0,0.7);
	padding: 25px;
	border-radius: 25px;
}





.tax-slides4 {
	text-align: left;
	margin-bottom: 75px;
	background-color: rgba(0,0,0,0.7);
	padding: 25px;
	border-radius: 25px;
}





.estate-slides1 {
	text-align: left;
	margin-bottom: 175px;
	background-color: rgba(0,0,0,0.7);
	padding: 25px;
	border-radius: 25px;
}



.estate-slides2 {
	text-align: left;
	margin-bottom: 65px;
	background-color: rgba(0,0,0,0.7);
	padding: 25px;
	border-radius: 25px;
}



.estate-slides3 {
	text-align: left;
	margin-bottom: 175px;
	background-color: rgba(0,0,0,0.7);
	padding: 25px;
	border-radius: 25px;
}



.estate-slides4 {
	text-align: left;
	margin-bottom: 225px;
	background-color: rgba(0,0,0,0.7);
	padding: 25px;
	border-radius: 25px;
}




.trader-slides1 {
	text-align: left;
	margin-bottom: 65px;
	background-color: rgba(0,0,0,0.7);
	padding: 25px;
	border-radius: 25px;
}



.trader-slides2 {
	text-align: left;
	margin-bottom: 125px;
	background-color: rgba(0,0,0,0.7);
	padding: 25px;
	border-radius: 25px;
}



.trader-slides3 {
	text-align: left;
	margin-bottom: 95px;
	background-color: rgba(0,0,0,0.7);
	padding: 25px;
	border-radius: 25px;

}




