<div class="new-body">
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
	<div class="carousel-inner" role="listbox">
		<div class="carousel-item active">
		  <img class="d-block img-responsive img1" src="https://s3-us-west-2.amazonaws.com/primecorpservices/review.jpg" alt="Second slide">
		  <div class="carousel-caption d-none d-block picture-text-review">
				<h1>Your Opinion Matters! We want to hear from you!</h1>
			</div>
			<div class="carousel-caption d-none d-block picture-text-review1">
				<h3>Leave a review below and tell us about your awesome experience with Prime!</h3>
			</div>
		</div>
	</div>
</div>
	<%= render "form" %>
</div>	